// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

bem-elem($bem-block, $bem-element...)
  // while not using as a property
  if !current-property
    if selector() != '&'
      &__{$bem-block}
        {block}
    if selector() == '&'
      {$bem-block}__{$bem-element}
        {block}

elem = bem-elem
