// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// set absolute positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
absolute()
  position: absolute
  set-properties(arguments)
