// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// set fixed positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
fixed()
  position: fixed
  set-properties(arguments)
