// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// set relative positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
relative()
  position: relative
  set-properties(arguments)
