// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// creates a circle shape
shape-circle($diameter)
  +cache('shape-circle' + current-media())
    border-radius: 50%
  shape-square: $diameter
