// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

shape-triangle($position, $size, $colour)
  +cache('shape-triangle border-width'+ $size + current-media())
    border: $size solid transparent
  +cache('shape-triangle border-colour'+ $position + $size + current-media())
    border-{opposite-position($position)}-color: $colour
  shape-square: $size

shape-triangle-bottom($size, $colour)
  shape-triangle: bottom, $size, $colour

shape-triangle-left($size, $colour)
  shape-triangle: left, $size, $colour

shape-triangle-right($size, $colour)
  shape-triangle: right, $size, $colour

shape-triangle-top($size, $colour)
  shape-triangle: top, $size, $colour
