// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// set sticky positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
sticky()
  position: sticky
  set-properties(arguments)
