// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// sets a centered wrapper
// @param [unit] $max-width is the wrapper max-width
// @return [css]
wrapper($max-width = 100%)
  center-block()
  max-width: $max-width if type-of($max-width) is 'unit'
