// from https://github.com/mrmrs/colors
// these colors will replace the default stylus colors
aqua = #7FDBFF
black = #111111
blue = #0074D9
fuchsia = #F012BE
gray = #aaaaaa
green = #2ECC40
lime = #01FF70
maroon = #85144B
navy = #001F3F
olive = #3D9970
orange = #FF851B
purple = #B10DC9
red = #FF4136
silver = #dddddd
teal = #39CCCC
white = #ffffff
yellow = #FFDC00

// color shades and tints
// aqua shades and tints
$color-aqua = aqua
$color-aqua-100 = tint(aqua, 21%)
$color-aqua-200 = tint(aqua, 13%)
$color-aqua-300 = tint(aqua, 8%)
$color-aqua-400 = tint(aqua, 5%)
$color-aqua-500 = aqua
$color-aqua-600 = shade(aqua, 5%)
$color-aqua-700 = shade(aqua, 8%)
$color-aqua-800 = shade(aqua, 13%)
$color-aqua-900 = shade(aqua, 21%)

// black shades and tints
$color-black = black
$color-black-100 = tint(black, 21%)
$color-black-200 = tint(black, 13%)
$color-black-300 = tint(black, 8%)
$color-black-400 = tint(black, 5%)
$color-black-500 = black
$color-black-600 = shade(black, 5%)
$color-black-700 = shade(black, 8%)
$color-black-800 = shade(black, 13%)
$color-black-900 = shade(black, 21%)

// blue shades and tints
$color-blue = blue
$color-blue-100 = tint(blue, 21%)
$color-blue-200 = tint(blue, 13%)
$color-blue-300 = tint(blue, 8%)
$color-blue-400 = tint(blue, 5%)
$color-blue-500 = blue
$color-blue-600 = shade(blue, 5%)
$color-blue-700 = shade(blue, 8%)
$color-blue-800 = shade(blue, 13%)
$color-blue-900 = shade(blue, 21%)

// fuchsia shades and tints
$color-fuchsia = fuchsia
$color-fuchsia-100 = tint(fuchsia, 21%)
$color-fuchsia-200 = tint(fuchsia, 13%)
$color-fuchsia-300 = tint(fuchsia, 8%)
$color-fuchsia-400 = tint(fuchsia, 5%)
$color-fuchsia-500 = fuchsia
$color-fuchsia-600 = shade(fuchsia, 5%)
$color-fuchsia-700 = shade(fuchsia, 8%)
$color-fuchsia-800 = shade(fuchsia, 13%)
$color-fuchsia-900 = shade(fuchsia, 21%)

// gray shades and tints
$color-gray = gray
$color-gray-100 = tint(gray, 21%)
$color-gray-200 = tint(gray, 13%)
$color-gray-300 = tint(gray, 8%)
$color-gray-400 = tint(gray, 5%)
$color-gray-500 = gray
$color-gray-600 = shade(gray, 5%)
$color-gray-700 = shade(gray, 8%)
$color-gray-800 = shade(gray, 13%)
$color-gray-900 = shade(gray, 21%)

// green shades and tints
$color-green = green
$color-green-100 = tint(green, 21%)
$color-green-200 = tint(green, 13%)
$color-green-300 = tint(green, 8%)
$color-green-400 = tint(green, 5%)
$color-green-500 = green
$color-green-600 = shade(green, 5%)
$color-green-700 = shade(green, 8%)
$color-green-800 = shade(green, 13%)
$color-green-900 = shade(green, 21%)

// lime shades and tints
$color-lime = lime
$color-lime-100 = tint(lime, 21%)
$color-lime-200 = tint(lime, 13%)
$color-lime-300 = tint(lime, 8%)
$color-lime-400 = tint(lime, 5%)
$color-lime-500 = lime
$color-lime-600 = shade(lime, 5%)
$color-lime-700 = shade(lime, 8%)
$color-lime-800 = shade(lime, 13%)
$color-lime-900 = shade(lime, 21%)

// maroon shades and tints
$color-maroon = maroon
$color-maroon-100 = tint(maroon, 21%)
$color-maroon-200 = tint(maroon, 13%)
$color-maroon-300 = tint(maroon, 8%)
$color-maroon-400 = tint(maroon, 5%)
$color-maroon-500 = maroon
$color-maroon-600 = shade(maroon, 5%)
$color-maroon-700 = shade(maroon, 8%)
$color-maroon-800 = shade(maroon, 13%)
$color-maroon-900 = shade(maroon, 21%)

// navy shades and tints
$color-navy = navy
$color-navy-100 = tint(navy, 21%)
$color-navy-200 = tint(navy, 13%)
$color-navy-300 = tint(navy, 8%)
$color-navy-400 = tint(navy, 5%)
$color-navy-500 = navy
$color-navy-600 = shade(navy, 5%)
$color-navy-700 = shade(navy, 8%)
$color-navy-800 = shade(navy, 13%)
$color-navy-900 = shade(navy, 21%)

// olive shades and tints
$color-olive = olive
$color-olive-100 = tint(olive, 21%)
$color-olive-200 = tint(olive, 13%)
$color-olive-300 = tint(olive, 8%)
$color-olive-400 = tint(olive, 5%)
$color-olive-500 = olive
$color-olive-600 = shade(olive, 5%)
$color-olive-700 = shade(olive, 8%)
$color-olive-800 = shade(olive, 13%)
$color-olive-900 = shade(olive, 21%)

// orange shades and tints
$color-orange = orange
$color-orange-100 = tint(orange, 21%)
$color-orange-200 = tint(orange, 13%)
$color-orange-300 = tint(orange, 8%)
$color-orange-400 = tint(orange, 5%)
$color-orange-500 = orange
$color-orange-600 = shade(orange, 5%)
$color-orange-700 = shade(orange, 8%)
$color-orange-800 = shade(orange, 13%)
$color-orange-900 = shade(orange, 21%)

// purple shades and tints
$color-purple = purple
$color-purple-100 = tint(purple, 21%)
$color-purple-200 = tint(purple, 13%)
$color-purple-300 = tint(purple, 8%)
$color-purple-400 = tint(purple, 5%)
$color-purple-500 = purple
$color-purple-600 = shade(purple, 5%)
$color-purple-700 = shade(purple, 8%)
$color-purple-800 = shade(purple, 13%)
$color-purple-900 = shade(purple, 21%)

// red shades and tints
$color-red = red
$color-red-100 = tint(red, 21%)
$color-red-200 = tint(red, 13%)
$color-red-300 = tint(red, 8%)
$color-red-400 = tint(red, 5%)
$color-red-500 = red
$color-red-600 = shade(red, 5%)
$color-red-700 = shade(red, 8%)
$color-red-800 = shade(red, 13%)
$color-red-900 = shade(red, 21%)

// silver shades and tints
$color-silver = silver
$color-silver-100 = tint(silver, 21%)
$color-silver-200 = tint(silver, 13%)
$color-silver-300 = tint(silver, 8%)
$color-silver-400 = tint(silver, 5%)
$color-silver-500 = silver
$color-silver-600 = shade(silver, 5%)
$color-silver-700 = shade(silver, 8%)
$color-silver-800 = shade(silver, 13%)
$color-silver-900 = shade(silver, 21%)

// teal shades and tints
$color-teal = teal
$color-teal-100 = tint(teal, 21%)
$color-teal-200 = tint(teal, 13%)
$color-teal-300 = tint(teal, 8%)
$color-teal-400 = tint(teal, 5%)
$color-teal-500 = teal
$color-teal-600 = shade(teal, 5%)
$color-teal-700 = shade(teal, 8%)
$color-teal-800 = shade(teal, 13%)
$color-teal-900 = shade(teal, 21%)

// yellow shades and tints
$color-yellow = yellow
$color-yellow-100 = tint(yellow, 21%)
$color-yellow-200 = tint(yellow, 13%)
$color-yellow-300 = tint(yellow, 8%)
$color-yellow-400 = tint(yellow, 5%)
$color-yellow-500 = yellow
$color-yellow-600 = shade(yellow, 5%)
$color-yellow-700 = shade(yellow, 8%)
$color-yellow-800 = shade(yellow, 13%)
$color-yellow-900 = shade(yellow, 21%)
