// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('functions.js')

// onePercent function
// this function will return the one percent of the passed number
one-percent($number)
  if $number is a 'number'
    $number = $number/100
  $number

// returns a given percent of a number
get-percent($number, $percent)
  if $number is a 'number' and $percent is a 'number'
    $number = one-percent($number) * $percent
  $number

// set-unit function 
// this function will set the passed [$unit] unit to the [$items] list 
set-unit($items, $unit)
  $offset = 0
  for $item in $items
    if $items[$offset]
      $items[$offset] = unit(parseFloat($item), $unit)
    $offset = $offset+1
  $items
