// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('functions.js')

// ends with, useful for checkin if a classname ends with a given char
ends-with($string, $char)
  if type-of($char) != 'string'
    error('ends-with: $char must be a string') 
  match($char +'{1}$', $string)
// onePercent function
// this function will return the one percent of the passed number
one-percent($number)
  if $number is a 'number'
    $number = $number/100
  $number

// returns a given percent of a number
get-percent($number, $percent)
  if $number is a 'number' and $percent is a 'number'
    $number = one-percent($number) * $percent
  $number

// set-unit function 
// this function will set the passed [$unit] unit to the [$items] list 
set-unit($items, $unit)
  $offset = 0
  for $item in $items
    if $items[$offset]
      $items[$offset] = unit(parse-float($item), $unit)
    $offset = $offset+1
  $items
