// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('functions.js')

// ends with, useful for checkin if a classname ends with a given char
ends-with($string, $char)
  if type-of($string) != 'string'
    error('ends-with: $string must be a string') 
  if type-of($char) != 'string'
    error('ends-with: $char must be a string') 
  match($char +'{1}$', $string)

// ends with, useful for checkin if a classname ends with a given char
starts-with($string, $char)
  if type-of($string) != 'string'
    error('start-with: $string must be a string') 
  if type-of($char) != 'string'
    error('start-with: $char must be a string') 
  match('^'+ $char +'{1}', $string)

// replaces something at the ending of a string
replace-end($string, $char, $replacement)
  if type-of($string) != 'string'
    error('replace-end: $string must be a string') 
  if type-of($char) != 'string'
    error('replace-end: $char must be a string') 
  if type-of($replacement) != 'string'
    error('replace-end: $replacement must be a string') 
  replace($string, $char+'$', $replacement)

// replaces first char at the ending of a string
replace-once-end($string, $char, $replacement)
  if type-of($string) != 'string'
    error('replace-once-end: $string must be a string') 
  if type-of($char) != 'string'
    error('replace-once-end: $char must be a string') 
  if type-of($replacement) != 'string'
    error('replace-once-end: $replacement must be a string') 
  replace-end($string, $char+'{1}', $replacement)

// replaces something at the beginning of a string
replace-start($string, $char, $replacement)
  if type-of($string) != 'string'
    error('replace-start: $string must be a string') 
  if type-of($char) != 'string'
    error('replace-start: $char must be a string') 
  if type-of($replacement) != 'string'
    error('replace-start: $replacement must be a string') 
  replace($string, '^'+ $char, $replacement)

// replaces first char at the beginning of a string
replace-once-start($string, $char, $replacement)
  if type-of($string) != 'string'
    error('replace-once-start: $string must be a string') 
  if type-of($char) != 'string'
    error('replace-once-start: $char must be a string') 
  if type-of($replacement) != 'string'
    error('replace-once-start: $replacement must be a string') 
  replace-start($string, '^'+ $char +'{1}', $replacement)

// onePercent function
// this function will return the one percent of the passed number
one-percent($number)
  if $number is a 'number'
    $number = $number/100
  $number

// returns a given percent of a number
get-percent($number, $percent)
  if $number is a 'number' and $percent is a 'number'
    $number = one-percent($number) * $percent
  $number

// set-unit function 
// this function will set the passed [$unit] unit to the [$items] list 
set-unit($items, $unit)
  $offset = 0
  for $item in $items
    if $items[$offset]
      $items[$offset] = unit(parse-float($item), $unit)
    $offset = $offset+1
  $items
