// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// this function checks if the passed variable is a boolean
// @param   {any}     $variable   the variable you wish to check
// @return  {Boolean}             returns true if it's type is correct.
is-boolean($variable)
  return ensure($variable, 'boolean')

// aliasing is-boolean
is-bool = is-boolean
