// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// color-scheme
color-scheme($name, $background-color = false, $color = false)
  --color-scheme($background-color, $color)
    background-color: $background-color if type-of($background-color) is 'rgba'
    color: $color if type-of($color) is 'rgba'
  if not property
    ${$name}
      --color-scheme: $background-color, $color
  else
      --color-scheme: $name, $background-color
      
// clearfix
clearfix()
  &:after
  &:before
    clear: both
    content: ''
    display: table

// aliasing
ride-clear-fix = clear-fix = clearfix

// unselectable stuff
dont-select($cache = false)
  if $cache
    +cache('ride-dont-select')
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
  else
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  

// reset for unordered list
reset-ul()
  ul,
  ul li
    margin: 0
    padding: @margin

// proxy for css normalize or css reset
reset-type($reset-type = 'normalize all')
  if $reset-type is 'box-sizing'
    box-sizing-reset()
  if $reset-type is 'normalize'
    css-normalize()
  if $reset-type is 'normalize all'
    css-normalize()
    box-sizing-reset()
  if $reset-type is 'reset'
    css-reset()

// ride-tooltip
ride-tooltip($direction = left, $data-attribute = data-tooltip)
  $direction-amount = -50% if left 
  $direction-amount = 50% if right 
  $direction-position = top 0 right 0 if left 
  $direction-position = top 0 left 0 if right
  position: relative;
  &:before
    {block}
    absolute: $direction-position
    content: attr($data-attribute);
    opacity: 0;
    translateX: $direction-amount unless @transform;
    visibility: hidden;
    white-space: nowrap;
  &:hover:before
    opacity: 1;
    translateX: 0 unless @transform;
    visibility: visible;

// ride-wrap
ride-wrap($class = '.wrap')
  if not property
    {$class}
      {block}
      height: 100% unless @height
      width: 100% unless @width
  else
    height: 100% unless @height
    width: 100% unless @width
