// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

ride-placeholders()
  $block
    display: block
  $bold
    font-weight: 700
  $bolder
    font-weight: 900
  $code-font
    font-family: monospace,serif
    font-size: 1em
  $inline-block
    display: inline-block
  $none
    display: none
  $normal
    font-weight: 400
  $pointer
    cursor: pointer
  $table
    display: table
    $cell
      display: table-cell
    $row
      display: table-row
  $table-cell
    display: table-cell
  $table-row
    display: table-row
  $thin
    font-weight: 300
  $thinner
    font-weight: 100
  // compound or more comples placeholders
  $button
    @extend $inline-block
    @extend $pointer
  $full-background
    background-size: cover
    background-position: center
    background-repeat: repeat-none
  