// Ride css. Released under MIT licence.
// https://github.com/OctoD/ride-css/
_ride-setup-position(_position, top = false, left = false, right = false, bottom = false)
  position _position
  if top != false
    +cache('ride-position-top'+ top)
      top top
  if left != false
    +cache('ride-position-left'+ left)
      left left
  if right != false
    +cache('ride-position-right'+ right)
      right right
  if bottom != false
    +cache('ride-position-bottom'+ bottom)
      bottom bottom

clearfix()
  &:after
  &:before
    clear both
    content ''
    display table

absolute(top = false, left = false, right = false, bottom = false)
  _ride-setup-position(absolute, top, left, right, bottom)

dont-select()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  

fixed(top = false, left = false, right = false, bottom = false)
  _ride-setup-position(fixed, top, left, right, bottom)

relative(top = false, left = false, right = false, bottom = false)
  _ride-setup-position(relative, top, left, right, bottom)

reset-ul()
  ul
    margin 0
    padding @margin
    li
      margin @margin
      padding @padding
    
ride-body()
  html
  body
    height 100%
    width @height

  body
    {block}
    font-weight normal unless @font-weight
    font-size 62.5% unless @font-size
    line-height 1.5 unless @line-height

tooltip(className = '.has-tooltip', dataAttribute = data-tooltip)
  {className}
    position: relative;
    &:before
      {block}
      translateX(-50%) unless @transform;
      content attr(dataAttribute);
      opacity 0;
      position absolute;
      right 0;
      top 0;
      visibility hidden;
      white-space nowrap;
    &:hover:before
      translateX(0) unless @transform;
      opacity 1;
      visibility visible;

wrapper(class = '.wrap')
  {class}
    {block}
    height 100% unless @height
    width 100% unless @width

// aliasing the wrapper mixin with wrap
ride-wrap = wrap = wrapper