// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// positioning. If you are going to include NIB after Ride, these mixins will be overrided
--ride-setup-position(_position, $position)
  position: _position
  for $pos, $i in $position
    {$pos}: $position[$i + 1] if even($i) and $position[$i + 1] not undefined

absolute()
  --ride-setup-position: absolute arguments

fixed()
  --ride-setup-position: fixed arguments

relative()
  --ride-setup-position: relative arguments


// clearfix
clearfix()
  &:after
  &:before
    clear: both
    content: ''
    display: table

// unselectable stuff
dont-select($cache = false)
  if $cache
    +cache('ride-dont-select')
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
  else
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  

// full-size
full-size()
  height: 100%
  width: 100%

// reset for unordered list
reset-ul()
  ul
  ul li
    margin: 0
    padding: @margin

// proxy for css normalize or css reset
reset-type($reset-type = 'normalize')
  if $reset-type is 'normalize'
    css-normalize()
  if $reset-type is 'reset'
    css-reset()
  if $reset-type is 'box-sizing'
    box-sizing-reset()

// absolute page
ride-absolute-page($page-number)
  absolute: top (100% * $page-number) left 0
  +cache('ride-absolute-page-full-size')
    full-size()
  
// body setup
ride-body()
  html
  body
    height: 100%
    width: @height
  body
    {block}
    font-weight: normal unless @font-weight
    font-size: 62.5% unless @font-size
    line-height: 1.5 unless @line-height

// ride-tooltip
ride-tooltip($direction = left, $data-attribute = data-tooltip)
  $direction-amount = -50% if left 
  $direction-amount = 50% if right 
  $direction-position = top 0 right 0 if left 
  $direction-position = top 0 left 0 if right
  position: relative;
  &:before
    {block}
    absolute: $direction-position
    content: attr($data-attribute);
    opacity: 0;
    translateX: $direction-amount unless @transform;
    visibility: hidden;
    white-space: nowrap;
  &:hover:before
    opacity: 1;
    translateX: 0 unless @transform;
    visibility: visible;

// ride-wrap
ride-wrap($class = '.wrap')
  if not property
    {$class}
      {block}
      height: 100% unless @height
      width: 100% unless @width
  else
    height: 100% unless @height
    width: 100% unless @width

ride-clear-fix = clear-fix = clearfix