// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// positioning. If you are going to include NIB after Ride, these mixins will be overrided
--ride-setup-position(_position, $position)
  position: _position
  for $pos, $i in $position
    {$pos}: $position[$i + 1] if even($i) and $position[$i + 1] not undefined

absolute()
  --ride-setup-position: absolute arguments

fixed()
  --ride-setup-position: fixed arguments

relative()
  --ride-setup-position: relative arguments

// background shorthand
bkg()
  background: arguments if arguments
  
// background-color shorthand
bkgc($color)
  background-color: $color if $color
  
// background-image shorthand
bkgi($url)
  background-color: url($url) if $url
  
// background-position shorthand
bkgp($position)
  background-position: $position
  
// background-size shorthand
bkgz($size)
  background-size: $size if $size 
  
// border
bd($border)
  border: $border if $border
  
// color shorthand
cl($color)
  color: $color if $color

// border-horizontal
border-horizontal($border...)
  if length($border) == 1
    border-left: $border
    border-right: $border
  else
    border-left: $border[0]
    border-right: $border[1]

// border-horizontal
border-vertical($border...)
  if length($border) == 1
    border-bottom: $border
    border-top: $border
  else
    border-bottom: $border[0]
    border-top: $border[1]

// full-size
full-size()
  height: 100%
  width: 100%

// margin-horizontal
margin-horizontal()
  if length(arguments) == 1
    margin-left: arguments 
    margin-right: @margin-left
  else  
    margin-left: arguments[0]
    margin-right: arguments[1]

// padding-vertical
margin-vertical()
  if length(arguments) == 1
    margin-bottom: arguments 
    margin-top: @margin-bottom
  else  
    margin-bottom: arguments[0]
    margin-top: arguments[1]

// padding-horizontal
padding-horizontal()
  if length(arguments) == 1
    padding-left: arguments 
    padding-right: @padding-left 
  else  
    padding-left: arguments[0]
    padding-right: arguments[1]

// padding-vertical
padding-vertical()
  if length(arguments) == 1
    padding-bottom: arguments 
    padding-top: @padding-bottom
  else  
    padding-bottom: arguments[0]
    padding-top: arguments[1]
