mixin css(href)
  link(rel="stylesheet", href!=href)

mixin setup-step(title, shortDescription, code)
  article(data-title=title)
    -if (shortDescription)
      p!=shortDescription
    -if (code)
      pre.code
        code= code

doctype
html
  head
    title Ride-css
    +css("/test.css")
    +css("http://fonts.googleapis.com/css?family=Lato:400,700,300")
  body
    header
      a.logo(href="/") ride-css
      nav.primary-nav
        a(href="#") About
        a(href="#") Documentation
      .lead
        h1 Ride-css
          br
          small why walk when you can ride?
        h2 a stylus mixin library for a faster css development
    main
      section.reasons
        article
          h3 Clean code
          p Nice for developers, better for users. You are going to write less code without compromising your design.
            br
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error enim nostrum quasi porro fugiat, animi repellat aperiam, iure quaerat, sed placeat et eos magnam assumenda dolore a mollitia possimus.
        article
          h3 Quick scaffolding
          p Really easy to setup.
            br
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error enim nostrum quasi porro fugiat, animi repellat aperiam, iure quaerat, sed placeat et eos magnam assumenda dolore a mollitia possimus.
        article
          h3 Pattern-friendly
          p OOCSS, BEM, SMACSS or whatever.
            br
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error enim nostrum quasi porro fugiat, animi repellat aperiam, iure quaerat, sed placeat et eos magnam assumenda dolore a mollitia possimus.
      section.setup
        h4 Installing ride-css
        +setup-step('step#1', 'Install <a href="" target="_blank">node.js</a> if you have not done yet.')
        +setup-step('step#2', 'open your terminal or your dos prompt and type into your working folder and type', 'npm install ride-css')
        +setup-step('step#3', 'into your main stylus file add this line of code at the very beginning', "@require 'ride-css'")
      section.stuff
        .stuff-wrapper
          article
            h5 foo bar baz
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, expedita! Odio rerum dolores esse sed obcaecati nobis saepe mollitia vero, minima eaque at laudantium placeat, fuga atque fugiat veritatis odit.
          article
            h5 foo bar baz
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ad illo magnam quae doloremque inventore adipisci repellat, repellendus atque voluptatem, distinctio reiciendis quaerat temporibus. Sapiente quidem aliquam alias consequuntur odio.
          article
            h5 foo bar baz
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptate aliquid dolorem eligendi sapiente in magni neque impedit provident consequatur asperiores saepe quas quae ex perferendis facere, minima eius porro.
          article
            h5 foo bar baz
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam adipisci nulla in accusamus repellat animi aliquid hic doloremque et aperiam ullam eius inventore maiores est consectetur odio voluptate, eaque, ex!
      footer.the-end
        nav
          a(href="https://github.com/ride-css/ride-css") Github
          a(href="https://github.com/ride-css/ride-css") Github
          a(href="https://github.com/ride-css/ride-css") Github