// importing ride-css, of course.
@import 'ride-css'

// first, we'll need to setup our variables!
// on larger projects is a good practice to put them into a separated file
$brand-500 = $brand = #E56542

// we'are going to setup the breakpoints. 
// remember to set a breakpoint each time your layout breaks
$breakpoint-lg = 1450px
$breakpoint-md = 1024px
$breakpoint-sm = 768px

// font-size
$font-size = 1rem
// line-height
$line-height = 1.44
// vertical-pacer is something that will help you to keep the
// vertical rhytmn constant
$vertical-pacer = ($font-size * parse-float($line-height))

// setting up the base for our grid. I've choosen the old but gold twelve columns grid
$grid-cols = 12
// setting up columns margin
$grid-margin = 1%
$grid-margin = $vertical-pacer 0
// setting up columns padding
$grid-padding = $font-size

// now we can start defining color schemes.
// they're really useful 
$scheme-brand
  color-scheme: $brand, white
  color-scheme: $silver-500, $gray-900

$scheme-brand-light
  color-scheme: $silver-100, $gray-800
  
$scheme-contrast-light
  color-scheme: #f1f1f1, $silver-1000

// scaffolding the grid system
// I'll start coding following the "mobile first" pattern.
// smallest device grid
&
  normalize-css()
  grid($grid-cols, $grid-margin, $grid-padding, 'xs', true)
// the first breakpoint comes in!
@media (min-width: $breakpoint-sm)
  placeholders('sm')
  grid($grid-cols, $grid-margin, $grid-padding, 'sm', true)

// the second breakpoint!
@media (min-width: $breakpoint-md)
  placeholders('md')
  grid($grid-cols, $grid-margin, $grid-padding, 'md', true)

// the bazinga-milion breakpoint!
@media (min-width: $breakpoint-lg)
  placeholders('lg')
  grid($grid-cols, $grid-margin, $grid-padding, 'lg', true)

// let's start with some "real" css
// setting up the body
body
  color: $gray-900
  font: normal 18px/1.5 'Lato', sans-serif

// setting up navigation header
body > header
  @extend $row
  @extend $scheme-brand
  border-bottom: 1px solid $gray-400

// we <3 links
a
  @extend $font-400
  links: $gray-900

// hey, I'm setting headings (from <h1></h1> to <h6></h6>) at once!
headings($font-size)

// yeah. it's really annoying to see images getting too big sometimes.
img
  max-width: 100%
// paragraphs.
p
  paragraph: $font-size, $line-height

// main content block
main
  center-block()

// let's start with css classes now!
// note that we're going to use a lot the "@extend" directive.
// DRY code is happier code.
// just remember to setup your placeholders properly first, 
// and then remember to implement wisely into your css classes.

// making responsive columns quickly.
$column-3-12
  @extend $col-xs
  @extend $col-xs-12
  @extend $col-sm-4
  
$column-4-12
  @extend $col-xs
  @extend $col-xs-12
  @extend $col-sm-6
  @extend $col-md-3

// the common stuff used by elements into "body > header"
$header-element
  padding-vertical: ($vertical-pacer / 2)

// rounded elements
$round
  border-radius: 50%

// a common wrapper.
$wrapper
  @extend $row
  @extend $offset-left-lg-3
  @extend $offset-right-lg-3

// coding code pre code foo bar baz
// this class is used for code/pre blocks
.code
  @extend $col-xs-12
  @extend $scheme-contrast-light
  border-left: ($font-size / 5) solid $gray-400
  font-size: ($font-size * .8)
  padding-vertical: ($vertical-pacer / 2)

// website lead! whoooooot!
.lead
  @extend $align-center
  @extend $block
  @extend $scheme-brand-light
  padding-vertical: ($vertical-pacer * 6)
  // h1 will be twice bigger than normal!
  h1
    @extend $font-400
    heading: 1, ($font-size * 2)
    small
      @extend $font-700
  h2
    @extend $font-300

// site "logo"
.logo
  @extend $header-element
  @extend $inline-block
  @extend $offset-left-xs-1
  @extend $offset-left-lg-3
    
// primary nav (the one which is above the page)
.primary-nav
  @extend $align-right
  @extend $header-element
  @extend $offset-right-xs-1
  @extend $offset-right-lg-3
  absolute: top 0 right 0
  a
    @extend $inline-block
    margin-horizontal: ($font-size / 2)

// the three columns below the .lead
.reasons
  @extend $align-center-sm
  @extend $wrapper
  margin-top: ($vertical-pacer * 4)
  article
    @extend $column-3-12
    
.setup
  @extend .reasons
  border-bottom: 1px dashed $gray-400
  border-top: @border-bottom
  padding-top: $vertical-pacer
  article
    margin-top: $vertical-pacer
  h4
    color: $gray-400    
  
.stuff
  @extend $scheme-brand-light
  article
    @extend $column-4-12
  .stuff-wrapper
    @extend .reasons

.the-end
  @extend $align-center
  @extend $scheme-brand
  padding-vertical: ($vertical-pacer * 2)
  a
    @extend .primary-nav a
    
