@import 'ride-css/colours/*'
@import 'ride-css/placeholders'
@import 'ride-css/typography/*'

h1
  heading: 1, 14px

h2
  heading: 2, 14px

h3
  heading: 3, 14px

h4
  heading: 4, 14px

h5
  heading: 5, 14px

h6
  heading: 6, 14px

p
  paragraph: 14px, 1.5

p
  paragraph: 14px, 21px

small
  small: 1em

a
  links: $red
