.set-properties-single {
  top: 0;
}
.set-properties-multy {
  top: 0;
  left: 0;
}
.set-properties-multy-absurd {
  top: 0;
  left: 0;
  padding: 1em;
  margin: 2em;
}
.absolute-one {
  position: absolute;
  top: 0;
}
.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.relative {
  position: relative;
  top: 0;
  left: 0;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
}
