@import 'ride-css/css/*'

.set-properties-single
  set-properties: top 0

.set-properties-multy
  set-properties: top 0 left 0

.set-properties-multy-absurd
  set-properties: top 0 left 0 padding 1em margin 2em

.absolute-one
  absolute: top 0

.absolute-full
  absolute: top 0 left 0

.fixed
  fixed: top 0 left 0

.relative
  relative: top 0 left 0

.sticky
  sticky: top 0 left 0

.margin-horizontal
  margin-horizontal: 1em

.margin-horizontal-double
  margin-horizontal: 1em 2em

.margin-vertical
  margin-vertical: 1em

.padding-horizontal
  padding-horizontal: 1em

.padding-vertical
  padding-vertical: 1em
