.set-properties-single {
  top: 0;
}
.set-properties-multy {
  top: 0;
  left: 0;
}
.set-properties-multy-absurd {
  top: 0;
  left: 0;
  padding: 1em;
  margin: 2em;
}
.absolute-one {
  position: absolute;
  top: 0;
}
.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.relative {
  position: relative;
  top: 0;
  left: 0;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
}
.margin-horizontal {
  margin-left: 1em;
  margin-right: 1em;
}
.margin-horizontal-double {
  margin-left: 2em;
  margin-right: 1em;
}
.margin-vertical {
  margin-bottom: 1em;
  margin-top: 1em;
}
.padding-horizontal {
  padding-left: 1em;
  padding-right: 1em;
}
.padding-vertical {
  padding-bottom: 1em;
  padding-top: 1em;
}
