@require 'ride-css/mixins/shapes.styl'

@media (min-width: 100px)
  .rectangle
    shape-rectangle: 20px, 10px
  .rectangle-alt-media-query
    shape-rectangle: 20px, 10px

.rectangle
  shape-rectangle: 20px, 10px

.rectangle-alt
  shape-rectangle: 20px, 10px

.round
  shape-circle: 10px

.round-alt
  shape-circle: 20px

.square
  shape-square: 10px
