// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

@require 'ride-css/colours/*'

.scheme-1
  color-scheme: #1f1f1f, #efefef

.scheme-2
  color-scheme-c: #010101, #f1f1f1

.scheme-2-cached
  color-scheme-c: #010101, #f1f1f1
