@require 'ride/*'
// file require/import here

// your vars here

// ride-css mixins usage here
css-normalize()
ride-body()
+ride-anchors(blue)
  text-decoration none
ride-grid({
  columns: 12,
  gutter: (1 2)
})
ride-typography()
+wrap()
  font-size 1.4em

// "traditional" css rules here

// media queries
+responsive-small()
  ride-grid({
    columns: 6,
    columnClass: '.sm-cl',
    floatClass: '.sm-float',
    pushClass: '.sm-push',
    gutter: (1 2)  
  })
+responsive-smallest()
  ride-grid({
    columns: 4,
    columnClass: '.smt-cl',
    floatClass: '.smt-float',
    pushClass: '.smt-push',
    gutter: (2)  
  })
// @keyframes here