@require 'ride/*'
// file require/import here

// your vars here

// ride-css mixins usage here
css-normalize()
ride-body()
+ride-anchors(blue)
  text-decoration none
ride-grid-12(1, 1)
ride-typography()
+wrap()
  font-size 1.4em

// "traditional" css rules here

// media queries
+responsive-small()
  ride-grid-12-small(1, 1)
+responsive-smallest()
  ride-grid-12-smallest(1, 1)
// @keyframes here