@require 'ride-css/etc/ensure*'
@require 'ride-css/etc/is-*'

.is-deg
  result: is-degrees(4deg)
  result: isDegrees(4deg)
  result: is-deg(4deg)
  result: are-degrees(4deg)
  result: areDegrees(4deg)
  result: are-deg(4deg)
