@require 'ride-css/etc/ensure*'
@require 'ride-css/etc/is-*'

.is-milliseconds
  result: is-milliseconds(4ms)
  result: isMilliseconds(4ms)
  result: is-ms(4ms)
  result: are-milliseconds(4ms)
  result: areMilliseconds(4ms)
  result: are-ms(4ms)
