// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// column helpers
--ride-calc-column($width, columns, $col-number)
  ($width * $col-number) / columns

--ride-get-gutter($gutter)
  $gutter-length = length($gutter)
  if $gutter-length is 0
    $calc = 0
  if $gutter-length is 1
    $calc = ($gutter * 2)
  if $gutter-length is 2
    $calc = ($gutter[1] * 2)
  if $gutter-length is 3
    $calc = ($gutter[1] * 2)
  else if $gutter-length is 4
    $calc = $gutter[1] + $gutter[3]
  $calc

// column - this mixin could be overrided by axis
column($columns, $col-number)
  --ride-calc-column: 100%, $columns, $col-number

// column mixin
// doesn't accept a code block
--ride-column($width, columns, $col-number, $gutter = 0, $padding = 0)
  $column-unit = unit($width)
  $column = --ride-calc-column($width, columns, $col-number)
  $subtract-gutter = --ride-get-gutter($gutter)

  // automatic caching. 
  +cache('box-sizing')
    box-sizing: border-box if $padding not 0
  padding: $padding if $padding not 0
  margin: $gutter
  width: ($column - $subtract-gutter)
  
// now the real mixin
ride-column($width, columns = 1, $col-number = 1, $gutter = 0, $padding = 0)
  &
    --ride-column: $width, columns, $col-number, $gutter, $padding

// floating column mixin
// doesn't accept a code block
--ride-float($width, columns, $col-number, $gutter, $margin-direction)
  $column = --ride-calc-column($width, columns, $col-number)
  $add-gutter = --ride-get-gutter($gutter)
  margin-{$margin-direction}: $column + $add-gutter

// floating
ride-float($width, columns = 1, $col-number = 1, $gutter = 0, $margin-direction = 'left')
  &
    --ride-float: $width, columns, $col-number, $gutter, $margin-direction

// aliasing for ride-float
ride-span = ride-float

// span left mixin
ride-span-left($width, columns = 1, $col-number = 1, $gutter = 0)
  &
    ride-float($width, columns, $col-number, $gutter, 'left')

// span right mixin
ride-span-right($width, columns = 1, $col-number = 1, $gutter = 0)
  &
    ride-float($width, columns, $col-number, $gutter, 'right')