// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// first implementation
ride-flex-grid($columns, $margin, $padding, $class = '.ride-flex-grid')
  --ride-flex-grid($columns, $margin, $padding)
    $min-width-column = 100% / $columns
    display: flex;
    flex-direction: row
    flex-flow: row wrap
    > *
      padding: $padding
      flex-basis: 1
    for $column in 1..$columns
      /$flex-column-{$column}
        flex: 1 1 ($min-width-column * $column)
        // ride-column: 100%, $columns, $column, $margin, $padding
  if property
    --ride-flex-grid: $columns, $margin, $padding
  else
    {$class}
      --ride-flex-grid: $columns, $margin, $padding