// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('grids.js')

ride-grid($columns, $gutter = 0, $padding = 0, $config = {})
  // basic column class selector
  $config.column = $config.column || 'col-'
  // column, offset and push modifier
  $config.modifier = $config.modifier || ''
  // basic offset-left class selector
  $config.offsetleft = $config.offsetleft || 'offset-left-'
  // basic offset-right class selector
  $config.offsetright = $config.offsetright || 'offset-right-'
  // basic offset-left class selector
  $config.pull = $config.pull || 'pull-'
  // basic push-right class selector
  $config.push = $config.push || 'push-'
  // oocss will yeld two classes, one generic for column padding, margin etc
  // another one will be the specific class for every column (col-1 col-2) and will have only their own width
  $config.oocss = $config.oocss || false
  // if set to true, this mixin will yeld a set of placeholders
  // e.g.
  //  $col, $col1, $offset-left1, $offset-right1, $row
  $config.placeholder = $config.placeholder || false
  // if set, each class or placeholder will get a prefix
  // e.g.
  //  .prefix-col1, .prefix-offset-left1
  $config.prefix = $config.prefix || ''
  // basic row class selector
  $config.row = $config.row || 'row'
  // if set, each class or placeholder will be scoped
  // e.g.
  //  .scope .col1, .scope .offset-left1
  $config.scope = $config.scope || ''
  // grids width
  $config.width = $config.width || 100%
  // if set to true, the mixin will not yeld offset-left classes
  $config.disableoffsetleft = $config.disableoffsetleft || false
  // if set to true, the mixin will not yeld offset-right classes
  $config.disableoffsetright = $config.disableoffsetright || false
  // if set to true, the mixin will not yeld both offset-left and offset-right classes/placeholders
  $config.nooffset = $config.nooffset || false
  // if set to true, the mixin will not yeld both push and pull classes/placeholders
  $config.nopushpull = $config.nopushpull || false
  
  // checking if nooffset is set to true
  if $config.nooffset
    $config.disableoffsetleft = true
    $config.disableoffsetright = true
  
  $padding-has-not-unit = unit($padding[0]) == ''
  $force-border-box = false

  $base-unit = unit($config.width)
  
  // will be deprecated. in v.1.0.0 will use only stylus mixins instead of a nodejs module for every calculation
  $mygrid = getGrid(parseInt($config.width) || 100, $columns, toArray(s('%s', $gutter)))

  // now everything begins
  if $config.placeholder is false
    {$config.scope}
      +prefix-classes($config.prefix)
        if $config.oocss == true
          $colname = $config.column

          if ends-with($colname, '-')
            $colname = replace-once-end($colname, '-', '')
          if $config.modifier not ''
            $modifier = '-'+ replace-once-end($config.modifier, '-', '')

          .{$colname}{$modifier}
            box-sizing: border-box 
            float: left
            margin: set-unit($gutter, $base-unit)
            padding: $padding
        if $config.oocss != true
          for $col, $col-name in $mygrid.cols
            .{$config.column}{$config.modifier}{$col-name + 1}
              +cache('ride-grid-common')
                box-sizing: border-box 
                float: left
                margin: set-unit($gutter, $base-unit)
                padding: $padding
        for $col, $col-name in $mygrid.cols
          .{$config.column}{$config.modifier}{$col-name + 1}
            width: unit($col, $base-unit)
          if $config.nopushpull != true
            .{$config.pull}{$config.modifier}{$col-name + 1}
              left: unit((-1 * $col), $base-unit)
              +cache('ride-grid-push-pull'+ current-media() + $columns + $gutter + $padding)
                position: relative
            .{$config.push}{$config.modifier}{$col-name + 1}
              left: unit($col, $base-unit)
              +cache('ride-grid-push-pull'+ current-media() + $columns + $gutter + $padding)
                position: relative
        if $config.disableoffsetleft == false
          for $float, $float-name in $mygrid.floats
            .{$config.offsetleft}{$config.modifier}{$float-name + 1}
              margin-left: unit($float, $base-unit)
        if $config.disableoffsetright == false
          for $push, $push-name in $mygrid.floats
            .{$config.offsetright}{$config.modifier}{$push-name + 1}
              margin-right: unit($push, $base-unit)
        if $config.oocss == false
          .{$config.column}{$config.modifier}{$columns}
            float: none
        .{$config.row}
          ride-clear-fix()
  if $config.placeholder is true
    if $config.oocss == true
      $colname = $config.column
      
      if ends-with($colname, '-')
        $colname = replace-once-end($colname, '-', '')
      if $config.modifier not ''
        $modifier = '-'+ replace-once-end($config.modifier, '-', '')

      ${$colname}{$modifier}
        box-sizing: border-box 
        float: left
        margin: set-unit($gutter, $base-unit)
        padding: $padding
    if $config.oocss != true
      for $col, $col-name in $mygrid.cols
        ${$config.column}{$config.modifier}{$col-name + 1}
          box-sizing: border-box 
          float: left
          margin: set-unit($gutter, $base-unit)
          padding: $padding
    for $col, $col-name in $mygrid.cols
      ${$config.column}{$config.modifier}{$col-name + 1}
        width: unit($col, $base-unit)
      if $config.nopushpull != true
        ${$config.pull}{$config.modifier}{$col-name + 1}
          left: unit((-1 * $col), $base-unit)
          +cache('ride-grid-push-pull'+ current-media() + $columns + $gutter + $padding)
            position: relative
        ${$config.push}{$config.modifier}{$col-name + 1}
          left: unit($col, $base-unit)
          +cache('ride-grid-push-pull'+ current-media() + $columns + $gutter + $padding)
            position: relative
    if $config.disableoffsetleft == false
      for $float, $float-name in $mygrid.floats
        ${$config.offsetleft}{$config.modifier}{$float-name + 1}
          margin-left: unit($float, $base-unit)
    if $config.disableoffsetright == false
      for $push, $push-name in $mygrid.floats
        ${$config.offsetright}{$config.modifier}{$push-name + 1}
          margin-right: unit($push, $base-unit)
    if $config.oocss == false
      ${$config.column}{$config.modifier}{$columns}
        float: none
    ${$config.row}
      ride-clear-fix()

// shorthand for oocss grid
ride-oocss-grid($columns, $gutter = 0, $padding = 0, $placeholder = false)
  ride-grid($columns, $gutter, $padding, {oocss: true, placeholder: $placeholder})

// shorthand for oocss ghost grid
ride-ghost-grid($columns, $gutter = 0, $padding = 0)
  ride-oocss-grid($columns, $gutter, $padding, true)

// twelve columns grid
ride-grid-16($gutter = (0 1), $padding = (1em), $config = {})
  ride-grid(16, $gutter, $padding, $config)
// shorthand for oocss twelve column grid
ride-oocss-grid-16($gutter = 0, $padding = 0, $placeholder = false)
  ride-grid-16($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost twelve column grid
ride-ghost-grid-16($gutter, $padding)
  ride-oocss-grid-16($gutter, $padding, true)
  
// twelve columns grid
ride-grid-12($gutter = 0, $padding = 0, $config = {})
  ride-grid(12, $gutter, $padding, $config)
// shorthand for oocss twelve column grid
ride-oocss-grid-12($gutter = 0, $padding = 0, $placeholder = false)
  ride-grid-12($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost twelve column grid
ride-ghost-grid-12($gutter = 0, $padding = 0)
  ride-oocss-grid-12($gutter, $padding, true)

// six columns grid (ideal for tablet use)
ride-grid-tablet($gutter = 0, $padding = 0, $config = {})
  $config.modifier = 'md-'
  // $config.scope = 'body'
  ride-grid(12, $gutter, $padding, $config)
// shorthand for oocss six column grid
ride-oocss-grid-tablet($gutter = 0, $padding = 0, $placeholder = false)
  ride-grid-tablet($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost six column grid
ride-ghost-grid-tablet($gutter = 0, $padding = 0)
  ride-oocss-grid-tablet($gutter, $padding, true)

// four columns grid (ideal for mobile use)
ride-grid-mobile($gutter = 0, $padding = 0, $config = {})
  $config.modifier = 'xs-'
  // $config.scope = 'body'
  ride-grid(12, $gutter, $padding, $config)
// shorthand for oocss four column grid
ride-oocss-grid-mobile($gutter = 0, $padding = 0, $placeholder = false)
  ride-grid-mobile($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost four column grid
ride-ghost-grid-mobile($gutter = 0, $padding = 0)
  ride-oocss-grid-mobile($gutter, $padding, true)

ride-column-grid($column-count, $config = {})
  $config.class = $config.class || 'ride-columns'
  if not property
    .{$config.class}
      column-count: $column-count
      {block}
  if property
    column-count: $column-count
  if not property
    .{$config.class} > *
      page-break-inside(avoid)
      margin: 0
      float: none
  if property
    & > *
      page-break-inside(avoid)
      margin: 0
      float: none