// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('grids.js')

ride-grid($columns, $gutter = 0, $padding = 0, $config = {})
  // basic column class selector
  $config.column = $config.column || 'col-'
  // basic span-left class selector
  $config.spanleft = $config.spanleft || 'span-left-'
  // basic span-right class selector
  $config.spanright = $config.spanright || 'span-right-'
  // oocss will yeld two classes, one generic for column padding, margin etc
  // another one will be the specific class for every column (col-1 col-2) and will have only their own width
  $config.oocss = $config.oocss || false
  // if set to true, this mixin will yeld a set of placeholders
  // e.g.
  //  $col, $col1, $span-left1, $span-right1, $row
  $config.placeholder = $config.placeholder || false
  // if set, each class or placeholder will get a prefix
  // e.g.
  //  .prefix-col1, .prefix-span-left1
  $config.prefix = $config.prefix || ''
  // basic row class selector
  $config.row = $config.row || 'row'
  // if set, each class or placeholder will be scoped
  // e.g.
  //  .scope .col1, .scope .span-left1
  $config.scope = $config.scope || ''
  // grids width
  $config.width = $config.width || 100%
  // if set to true, the mixin will not yeld span-left classes
  $config.disablespanleft = $config.disablespanleft || false
  // if set to true, the mixin will not yeld span-right classes
  $config.disablespanright = $config.disablespanright || false
  // if set to true, the mixin will not yeld both span-left and span-right classes
  $config.nospan = $config.nospan || false
  
  // checking if nospan is set to true
  if $config.nospan
    $config.disablespanleft = true
    $config.disablespanright = true
  
  $padding-has-not-unit = unit($padding[0]) == ''
  $force-border-box = false

  $base-unit = unit($config.width)
  
  // will be deprecated. in v.1.0.0 will use only stylus mixins instead of a nodejs module for every calculation
  $mygrid = getGrid(parseInt($config.width) || 100, $columns, toArray(s('%s', $gutter)))

  // now everything begins
  if $config.placeholder is false
    {$config.scope}
      +prefix-classes($config.prefix)
        if $config.oocss == true
          $colname = $config.column

          if ends-with($colname, '-')
            $colname = replace-once-end($colname, '-', '')

          .{$colname}
            box-sizing: border-box 
            float: left
            margin: set-unit($gutter, $base-unit)
            padding: $padding
        if $config.oocss != true
          for $col, $col-name in $mygrid.cols
            .{$config.column}{$col-name + 1}
              +cache('ride-grid-common')
                box-sizing: border-box 
                float: left
                margin: set-unit($gutter, $base-unit)
                padding: $padding
        for $col, $col-name in $mygrid.cols
          .{$config.column}{$col-name + 1}
            width: unit($col, $base-unit)
        if $config.disablespanleft == false
          for $float, $float-name in $mygrid.floats
            .{$config.spanleft}{$float-name + 1}
              margin-left: unit($float, $base-unit)
        if $config.disablespanright == false
          for $push, $push-name in $mygrid.floats
            .{$config.spanright}{$push-name + 1}
              margin-right: unit($push, $base-unit)
        if $config.oocss == false
          .{$config.column}{$columns}
            float: none
        .{$config.row}
          ride-clear-fix()
  if $config.placeholder is true
    if $config.oocss == true
      $colname = $config.column
      
      if ends-with($colname, '-')
        $colname = replace-once-end($colname, '-', '')

      ${$colname}
        box-sizing: border-box 
        float: left
        margin: set-unit($gutter, $base-unit)
        padding: $padding
    if $config.oocss != true
      for $col, $col-name in $mygrid.cols
        ${$config.column}{$col-name + 1}
          box-sizing: border-box 
          float: left
          margin: set-unit($gutter, $base-unit)
          padding: $padding
    for $col, $col-name in $mygrid.cols
      ${$config.column}{$col-name + 1}
        width: unit($col, $base-unit)
    if $config.disablespanleft == false
      for $float, $float-name in $mygrid.floats
        ${$config.spanleft}{$float-name + 1}
          margin-left: unit($float, $base-unit)
    if $config.disablespanright == false
      for $push, $push-name in $mygrid.floats
        ${$config.spanright}{$push-name + 1}
          margin-right: unit($push, $base-unit)
    if $config.oocss == false
      ${$config.column}{$columns}
        float: none
    ${$config.row}
      ride-clear-fix()

// shorthand for oocss grid
ride-oocss-grid($columns, $gutter, $padding, $placeholder = false)
  ride-grid($columns, $gutter, $padding, {oocss: true, placeholder: $placeholder})

// shorthand for oocss ghost grid
ride-ghost-grid($columns, $gutter, $padding)
  ride-oocss-grid($columns, $gutter, $padding, true)

// twelve columns grid
ride-grid-16($gutter = (0 1), $padding = (1em), $config = {})
  ride-grid(16, $gutter, $padding, $config)
// shorthand for oocss twelve column grid
ride-oocss-grid-16($gutter, $padding, $placeholder = false)
  ride-grid-16($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost twelve column grid
ride-ghost-grid-16($gutter, $padding)
  ride-oocss-grid-16($gutter, $padding, true)
  
// twelve columns grid
ride-grid-12($gutter = (0 1), $padding = (1em), $config = {})
  ride-grid(12, $gutter, $padding, $config)
// shorthand for oocss twelve column grid
ride-oocss-grid-12($gutter, $padding, $placeholder = false)
  ride-grid-12($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost twelve column grid
ride-ghost-grid-12($gutter, $padding)
  ride-oocss-grid-12($gutter, $padding, true)

// six columns grid (ideal for mobile use)
ride-grid-6($gutter = (0 2), $padding = (1em), $config = {})
  $config.column = 'sm-cl'
  $config.spanleft = 'sm-float'
  $config.spanright = 'sm-push'
  // $config.scope = 'body'
  ride-grid(6, $gutter, $padding, $config)
// shorthand for oocss six column grid
ride-oocss-grid-6($gutter, $padding, $placeholder)
  ride-grid-6($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost six column grid
ride-ghost-grid-6($gutter, $padding)
  ride-oocss-grid-6($gutter, $padding, true)

// four columns grid (ideal for mobile use)
ride-grid-4($gutter = (0 0 2), $padding = (1em), $config = {})
  $config.column = 'smt-cl'
  $config.spanleft = 'smt-float'
  $config.spanright = 'smt-push'
  // $config.scope = 'body'
  ride-grid(4, $gutter, $padding, $config)
// shorthand for oocss four column grid
ride-oocss-grid-4($gutter, $padding, $placeholder)
  ride-grid-4($gutter, $padding, {oocss: true, placeholder: $placeholder})
// shorthand for ghost four column grid
ride-ghost-grid-4($gutter, $padding)
  ride-oocss-grid-4($gutter, $padding, true)

ride-column-grid($column-count, $config = {})
  $config.class = $config.class || 'ride-columns'
  if not property
    .{$config.class}
      column-count: $column-count
      {block}
  if property
    column-count: $column-count
  if not property
    .{$config.class} > *
      page-break-inside(avoid)
      margin: 0
      float: none
  if property
    & > *
      page-break-inside(avoid)
      margin: 0
      float: none