// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
// ride column grid
// options passed as an [object Object]
use('grids.js')

ride-grid($columns, $gutter = 0, $padding = 0, $config = {})
  $config.column = $config.column || 'cl'
  $config.float = $config.float || 'float'
  $config.oocss = $config.oocss || false
  $config.placeholder = $config.placeholder || false
  $config.prefix = $config.prefix || ''
  $config.push = $config.push || 'push'
  $config.row = $config.row || 'row'
  $config.scope = $config.scope || ''
  $config.width = $config.width || 100%
  $config.disableFloat = $config.disableFloat || false
  $config.disablePush = $config.disablePush || false
  
  $padding-has-not-unit = unit($padding[0]) == ''
  $force-border-box = false

  $base-unit = unit($config.width)
  
  // $mygrid = getGrid(parseInt($config.width) || 100, $columns, toArray(s('%s', $gutter)))

  if $config.placeholder is false
    {$config.scope}
      +prefix-classes($config.prefix)
        if $config.oocss == true
          .{$config.column}
            box-sizing: border-box 
            float: left
            margin: set-unit($gutter, $base-unit)
            padding: $padding
        if $config.oocss != true
          for $col, $col-name in 1...$columns
            .{$config.column}{$col-name + 1}
              +cache('grid-gutter'+ $columns + $gutter + $padding)
                box-sizing: border-box 
                float: left
                margin: set-unit($gutter, $base-unit)
                padding: $padding
        for $col, $col-name in 1...$columns
          .{$config.column}{$col-name + 1}
            +cache('grid-width'+ $columns + $col)
              $_calc = ($config.width / $columns) * $col
              width unit($_calc, $base-unit)
        if $config.disableFloat == false
          for $float, $float-name in 1...($columns - 1)
            .{$config.float}{$float-name + 1}
              +cache('grid-float'+ $columns + $float)
                margin-left unit($float, $base-unit)
        if $config.disablePush == false
          for $push, $push-name in 1...($columns - 1)
            .{$config.push}{$push-name + 1}
              +cache('grid-push'+ $columns + $push)
                margin-right unit($push, $base-unit)
        if $config.oocss == false
          .{$config.column}{$columns}
            float none
        .{$config.row}
          +cache('grid-clearfix'+ $columns + $gutter + padding)
            clearfix()
  if $config.placeholder is true
    if $config.oocss == true
      ${$config.column}
        box-sizing border-box 
        float left
        margin set-unit($gutter, $base-unit)
        padding $padding
    if $config.oocss != true
      for $col, $col-name in 1...($columns - 1)
        ${$config.column}{$col-name + 1}
          +cache('grid-gutter'+ $columns + $gutter + $padding)
            box-sizing border-box 
            float left
            margin set-unit($gutter, $base-unit)
            padding $padding
    for $col, $col-name in 1...($columns - 1)
      ${$config.column}{$col-name + 1}
        +cache('grid-width'+ $columns + $col)
          $_calc = ($config.width / $columns) * $col
          width unit($_calc, $base-unit)
    if $config.disableFloat == false
      for $float, $float-name in 1...($columns - 1)
        ${$config.float}{$float-name + 1}
          +cache('grid-float'+ $columns + $float)
            margin-left unit($float, $base-unit)
    if $config.disablePush == false
      for $push, $push-name in 1...($columns - 1)
        ${$config.push}{$push-name + 1}
          +cache('grid-push'+ $columns + $push)
            margin-right unit($push, $base-unit)
    if $config.oocss == false
      ${$config.column}{$columns}
        float none
    ${$config.row}
      +cache('grid-clearfix'+ $columns + $gutter + padding)
        clearfix()

// twelve columns grid
ride-grid-12($gutter = (0 1), $padding = (1em), $config = {})
  ride-grid(12, $gutter, $padding, $config)

// six columns grid (ideal for mobile use)
ride-grid-6($gutter = (0 2), $padding = (1em), $config = {})
  $config.column = 'sm-cl'
  $config.float = 'sm-float'
  $config.push = 'sm-push'
  $config.scope = 'body'
  ride-grid(6, $gutter, $padding, $config)

// four columns grid (ideal for mobile use)
ride-grid-4($gutter = (0 0 2), $padding = (1em), $config = {})
  $config.column = 'smt-cl'
  $config.float = 'smt-float'
  $config.push = 'smt-push'
  $config.scope = 'body'
  ride-grid(4, $gutter, $padding, $config)

ride-column-grid($column-count, $config = {})
  $config.class = $config.class || 'ride-columns'
  if not property
    .{$config.class}
      column-count: $column-count
      {block}
  if property
    column-count: $column-count
  if not property
    .{$config.class} > *
      page-break-inside(avoid)
      margin 0
      float none
  if property
    & > *
      page-break-inside(avoid)
      margin 0
      float none