// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// quickly selects form elements
form-elements()
  input, 
  textarea, 
  select
    {block}

// quickly selects readonly form elements
form-elements-readonly()
  +form-elements()
    &:read-only
      {block}

// quickly selects in-range input elements
form-in-range()
  input[type='number']:in-range
    {block}

// quickly selects invalid input elements
form-not-valid()
  +form-elements()
    &:invalid
      {block}
      
// quickly selects optional input elements
form-optional()
  +form-elements()
    &:optional
      {block}

// quickly selects out-of-range input elements
form-out-range()
  input[type='number']:out-of-range
    {block}
      
// quickly selects required input elements
form-required()
  +form-elements()
    &:required
      {block}

// quickly selects valid input elements
form-valid()
  +form-elements()
    &:valid
      {block}

// helps you to setup form elements placeholders
placeholder()
  &::-webkit-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-ms-placeholder
    {block}

// default ride-css form-elements 
ride-form-elements($border = 0, $padding = 0)
  +form-elements()
    box-sizing()
    if $border != 0
      border: $border
    if $border == 0
      border: 0 none
    if $padding != 0
      box-sizing: border-box
      padding: $padding
  select
    if $padding != 0
      $select-padding = ''
      for $pad in $padding
        $select-padding = $select-padding +' '+ ($pad/100)*85 unit($pad)
      padding: unquote($select-padding)

// aliasing
form-invalid = form-not-valid
form-optionals = form-optional