// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// absolute page
ride-absolute-page($page-number)
  +cache('ride-absolute-page-full-size')
    left: 0
    position: absolute
    full-size()
  top: (100% * $page-number)
  
// body setup
ride-body($font-size = 62.5%, $line-height = 1.5)
  html
  body
    height: 100%
    width: @height
  body
    {block}
    font-weight: normal unless @font-weight
    font-size: $font-size unless @font-size
    line-height: $line-height unless @line-height
    
// callout
callout($color = black, $position = left, $width = 5px)
  border-{$position}: $width solid $color
  
// ride-blockquote
ride-blockquote($color, $width = 5px)
  callout($color, left, $width)

// ride-blockquote
ride-blockquote-footer($color = false)
  color: $color if $color not false
  &:before
    content: '- '

// ride-description
ride-description($color = false)
  if not property
    dl
      @extend $no-margin
      color: $color if type-of($color) is 'rgba'
      dt
        @extend $font-700
      dd
        @extend $font-400
        @extend $no-margin
  else
    @extend $no-margin
    color: $color if type-of($color) is 'rgba'
    dt
      @extend $font-700
    dd
      @extend $font-400
      @extend $no-margin
      
// ride-list
ride-list($type)
  if not property
    ul
      if $type is block
        @extend $block
      if $type is inline
        @extend $block
      if $type is inline-block
        @extend $block
      if $type is flex
        display: flex
      if $type is table
        @extend $table
  else
    if $type is block
      @extend $block
    if $type is inline
      @extend $block
    if $type is inline-block
      @extend $block
    if $type is flex
      display: flex
    if $type is table
      @extend $table
  li
    if $type is block
      @extend $block
    if $type is flex
      flex: 1 1 auto
    if $type is inline
      @extend $inline
    if $type is inline-block
      @extend $inline-block
    if $type is table
      @extend $table $cell