// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// device agnostic media query
breakpoint($min-width, $max-width, $orientation = false)
  if $orientation == false
    @media only screen and (min-width: $min-width) and (max-width: $max-width)
      {block}    
  else
    @media only screen and (min-width: $min-width) and (max-width: $max-width) and (orientation: $orientation)
      {block}

// device agnostic media query - with heights
breakpoint-full($min-width, $max-width, $min-height = false, $max-height = false, $orientation = false)
  if orientation == false and $min-height == false
    @media only screen and (min-width: $min-width) and (max-width: $max-width)
      {block}    
  else if orientation == false and $min-height != false
    @media only screen and (min-width: $min-width) and (max-width: $max-width) and (min-height: $min-height)
      {block}
  else if orientation == false and $min-height != false and $max-height != false
    @media only screen and (min-width: $min-width) and (max-width: $max-width) and (min-height: $min-height) and (max-height: $max-height)
      {block}
  else if orientation != false and $min-height != false and $max-height != false
    @media only screen and (min-width: $min-width) and (max-width: $max-width) and (min-height: $min-height) and (max-height: $max-height) and (orientation: $orientation)
      {block}
  else
    @media only screen and (min-width: $min-width) and (max-width: $max-width) and (orientation: $orientation)
      {block}

// hdpi media query
high-dpi()
  @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2)
    {block}

// common smartphones media query
responsive-phone() 
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) 
    body
      font-size: 100%
    :root .phone-hide
      display: none
    {block}

// common tablets media query
responsive-tablet() 
  @media only screen and (min-width: 321px)and (max-width: 1024px) 
    body
      font-size: 100%
    :root .tablet-hide
      display: none
    {block}

// common tablets in landscape orientation
responsive-tablet-landscape() 
  @media only screen and (min-width: 321px)and (max-width: 1024px) and (orientation: landscape) 
    :root .tablet-hide
      display: none
    {block}

// common tablets in portrait orientation
responsive-tablet-portrait() 
  @media only screen and (min-width: 321px)and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
    :root .tablet-hide
      display: none
    {block}

// common smallest resolution
responsive-smallest() 
  @media only screen and (max-width: 480px) 
    :root .smallest-hide
      display: none
    {block}

// common small resolution
responsive-small() 
  @media only screen and (min-width: 481px)and (max-width: 959px) 
    :root .small-hide
      display: none
    {block}

// common normal resolution
responsive-normal() 
  @media only screen and (min-width: 960px) and (max-width: 1599px)
    :root .normal-hide
      display: none
    {block}

// common high resolution
responsive-huge() 
  @media only screen and (min-width: 1600px) 
    :root .huge-hide
      display: none
    {block}
