// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// common button template
button()
  {block}
  +cache('ride-button')
    dont-select: true
    cursor: pointer unless @cursor
    display: inline-block unless @display
    line-height: 3 unless @line-height
    padding: .5em 1em unless @padding
    position: relative unless @position
    white-space: nowrap unless @white-space

// default ride-css button mixin
ride-button($type, $colors = false)
  if $type is small
    padding: .25em .5em 
  else if $type is medium
    padding: .5em .75em 
  else if $type is large
    padding: .75em 1em 
  else
    padding: $type
  if $colors not false
    for $color, i in $colors
      {$color}: $colors[i + 1] if $color is a 'ident'

// ride-css button color mixin
// useful for setting up quickly your button colors
ride-button-color($color, $background-color)
  background-color: $background-color if $background-color not false
  color: $color if $color not false

// should be a css hamburger menu button
ride-menu-button($height, $width)
  background-color: #000 unless @background-color
  display: inline-block
  height: $height
  width: $width
  &:after
  &:before
    border-radius: @border-radius if @border-radius
    content: ''
    display: block
    full-size()
  &:after
    box-shadow: 0 @height 0 @background-color
  &:before
    box-shadow: 0 (-2 * @height) 0 @background-color

// [deprecable]
sliding-button($class, $direction = 'left', $transition = .4s, $config = {})
  $config.oocss = $config.oocss || false
  $moving-thing = ':before'
  if $config.oocss == true
    $moving-thing = $config.hover || '.hover'
    $moving-thing = ' '+ $moving-thing
  {$class}
    {block}
    button()
    overflow hidden
    z-index 1
    &:hover{$moving-thing}
      if $direction == 'left' || $direction == 'right'
        translateX: 0
      if $direction == 'top' || $direction == 'bottom'
        translateY: 0
    &{$moving-thing}
      if $direction == 'top'
        translateY: -100%
      if $direction == 'right'
        translateX: 100%
      if $direction == 'bottom'
        translateY: 100%
      if $direction == 'left'
        translateX: -100%
      absolute: top 0 left 0
      content ''
      height 100%
      width 100%
      z-index -1

  {$class}
  {$class}{$moving-thing}
    transition $transition