// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

ride-dialog($width = auto, $height = auto)
  absolute: top 50% left 50%
  box-sizing: border-box
  height: $height
  translate: -50% -50%
  width: $width