// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

ride-table-nav($padding = false)
  display: table
  & > a
    display: table-cell
    padding: $padding if $padding not false

ride-vertical-nav($padding = false)
  display: block unless @display
  & > a
    display: block
    padding: $padding if $padding not false
    line-height: 3 unless @line-height