// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
--ride-fade($direction, $transition = false)
  +cache('ride-fade'+ $transition)
    transition: $transition if $transition not false
  opacity: 0 if $direction is 0
  opacity: 1 if $direction is 1

--ride-slide($direction, $transition = false)
  +cache('ride-slide'+ $transition)
    transition: $transition if $transition not false
  translateX: -100% if $direction is 0
  translateX: 0 if $direction is 1
  translateX: 100% if $direction is 2

--ride-zoom($direction, $transition = false)
  +cache('ride-zoom'+ $transition)
    transition: $transition if $transition not false
  scale: 0 if $direction is 0
  scale: 1 if $direction is 1

// common ride-css transitions effects
ride-transition($effect-name, $transition = false)
  --ride-fade: 0, $transition if $effect-name is fade-in
  --ride-fade: 1, $transition if $effect-name is fade-out
  --ride-slide: 0, $transition if $effect-name is slide-out
  --ride-slide: 1, $transition if $effect-name is slide-in
  --ride-slide: 2, $transition if $effect-name is slide-out-right
  --ride-zoom: 0, $transition if $effect-name is zoom-out
  --ride-zoom: 1, $transition if $effect-name is zoom-in