// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// get a shade from a color
// similar to Google's material design® pattern for colors
// really useful for setting up your own color schemes faster
color-shade($color, $shade)
  $available-weights = {
    '50': 21, 
    '100': 13, 
    '200': 8, 
    '300': 5, 
    '400': 3, 
    '500': 0, 
    '600': -3, 
    '700': -5, 
    '800': -8, 
    '900': -13
  }
  if $available-weights[$shade]
    lighten($color, $available-weights[$shade])
  else
    $color
