// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/
use('typography.js')

// basic typography calculation
ride-line-height($font-size, $line-height)
  line-height: ($line-height / $font-size)

// proxy for getting an heading faster
--ride-set-heading($heading-number, $font-size, $line-height, $margin = 0)
  &
  /.{selector()}
    font-size: $font-size
    line-height: $line-height
    margin: $margin 0 if $margin not 0

// // returns all h1-h6 html selectors
// this was difficult
headings()
  h1
  h2
  h3
  h4
  h5
  h6
    {block}

// returns aligned classes
ride-align($class-prefix = 'align-')
  for $align in left center right justify
    +prefix-classes($class-prefix)
      .{$align}
        +cache('text-align'+ $align)
          text-align $align

// code styling
// use it with the <pre></pre> or <code></code> tag
ride-code($class = 'code, .code', $tab-size = 2)
  {$class}
    {block}
    tab-size $tab-size

// returns all h1-h6 html selectors
// it will properly calculate line-height and font size 
ride-headings($headings = 2 1.8 1.6 1.4 1.2 1, $line-height = 1.5, $config = {})
  $config.oocss = $config.oocss || false
  $config.h = $config.h || '.h'
  $object = getTypography(s('%s', $headings), $line-height)

  for $current-heading, $offset in $object.headings
    $font-size = $current-heading['fontSize']
    $line-height = $current-heading['lineHeight']
    $margin = $current-heading['margin']
    if $config.oocss == true
      {$config.h}{$offset + 1}
        +cache('ride-headings-margin' + $margin)
          margin: $margin 0
      {$config.h}{$offset + 1}
        +cache('ride-headings-fz' + $font-size)
          font-size: unit($font-size, 'em')
          line-height: $line-height
    else
      h{$offset + 1}
        +cache('ride-headings-margin' + $margin)
          margin $margin 0
      h{$offset + 1}
        +cache('ride-headings-fz' + $font-size)
          font-size unit($font-size, 'em')
          line-height $line-height

// highlighted text
ride-highlight($class = 'mark, .highlight')
  {$class}
    {block}
    background-color #F1EED6 unless @background-color
    
// hr
ride-hr($font-size = 1em, $class = 'hr, .hr')
  {$class}
    {block}
    border-bottom: 1px solid currentColor unless @border-bottom
    margin: $font-size 0
    relative: top -(@border-bottom[0])

// returns a properly calculated "p" selector 
ride-paragraph($font-size = 1em, $line-height = 1.5, $margin = ($font-size / 4))
  p
    font-size $font-size
    line-height $line-height
    margin ($font-size / 4) 0 if $margin not 0

ride-small($class = 'small, .small', $font-size = (62.5 / 100))
  {$class}
    font-size unit($font-size, 'em')
    line-height 1

// text style classes 
ride-text-style($class-prefix = 'text-', $config = {})
  $config.bold = $config.bold || 'strong'
  $config.capital = $config.capital || 'capital'
  $config.deleted = $config.deleted || 'deleted'
  $config.italic = $config.italic || 'italic'
  $config.lowercase = $config.lowercase || 'lowercase'
  $config.normal = $config.normal || 'normal'
  $config.placeholder = $config.placeholder || false
  $config.underlined = $config.underlined || 'underline'
  $config.uppercase = $config.uppercase || 'uppercase'
  if $config.placeholder is false
    +prefix-classes($class-prefix)
      .{$config.bold}
        font-weight bold
      .{$config.capital}
        text-transform capitalize
      .{$config.deleted}
        text-decoration line-through
      .{$config.italic}
        font-style italic
      .{$config.lowercase}
        text-transform lowercase
      .{$config.normal}
        font-weight normal
      .{$config.uppercase}
        text-transform uppercase
      .{$config.underlined}
        text-decoration underline
  if $config.placeholder is true
    ${$config.bold}
      font-weight bold
    ${$config.capital}
      text-transform capitalize
    ${$config.deleted}
      text-decoration line-through
    ${$config.italic}
      font-style italic
    ${$config.lowercase}
      text-transform lowercase
    ${$config.normal}
      font-weight normal
    ${$config.uppercase}
      text-transform uppercase
    ${$config.underlined}
      text-decoration underline


// using default ride-typography mixins
ride-typography($font-size = 1em, $line-height = 1.5, $headings = 2 1.8 1.6 1.4 1.2 1)
  ride-align()
  ride-code()
  ride-headings($headings, $line-height)
  ride-headings($headings, $line-height, $config: {
    oocss: true  
  })
  ride-highlight()
  ride-hr($font-size)
  ride-paragraph($font-size, $line-height, ($font-size / 4))
  ride-small()
  ride-text-style()
