// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// styldocs needed here.
scaffolding-typography($font-size = 1rem, $line-height = 1.5, $placeholder = false)
  $$suffix = ''
  if $placeholder
    if $placeholder != true
      $$suffix = \-+$placeholder
  headings($font-size, $placeholder)
  if !$placeholder
    p
      paragraph($font-size, $line-height)
    small
      small($font-size)
  else
    $p{$$suffix}
      paragraph($font-size, $line-height)
    $small{$$suffix}
      small($font-size)
