// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

// returns text-align classes or placeholders
ride-align($placeholder = false)
  for $align in left center right justify
    if $placeholder is false
      .{$align}
        +cache('text-align'+ $align)
          text-align: $align
    if $placeholder is true
      ${$align}
        text-align: $align

// code styling
// use it with the <pre></pre> or <code></code> tag
ride-code($tab-size = 2, $class = 'code, .code')
  if not property
    {$class}
      {block}
      tab-size: $tab-size
  else
    tab-size: $tab-size 

// returns highlighted text
// [deprecable]
ride-highlight($class = 'mark, .highlight')
  {$class}
    {block}
    background-color: #F1EED6 unless @background-color

// hr
ride-hr($font-size = 1em, $class = 'hr, .hr')
  if not property
    {$class}
      {block}
      border-bottom: 1px solid currentColor unless @border-bottom
      margin: $font-size 0
      relative: top -(@border-bottom[0])
  else
    border-bottom: 1px solid currentColor unless @border-bottom
    margin: $font-size 0
    relative: top -(@border-bottom[0])

// basic typography calculation
// [deprecable]
ride-line-height($font-size, $line-height)
  line-height: ($line-height / $font-size)
  
// returns a properly calculated "p" selector 
ride-paragraph($font-size = 1em, $line-height = 1.5, $margin = ($font-size / 4))
  if property
    --ride-set-heading: $font-size $line-height 1 $margin
  else
    p
      --ride-set-heading: $font-size $line-height 1 $margin

// small tag
ride-small($font-size = (62.5 / 100), $class = 'small, .small')
  if not property
    {$class}
      font-size: unit($font-size, 'em')
      line-height: 1
  else
    font-size: unit($font-size, 'em')
    line-height: 1

// text style classes 
ride-text-style($placeholder = false)
  ride-text-style-custom({placeholder: $placeholder})

ride-text-style-custom($config = {})
  $config.bold = $config.bold || 'text-strong'
  $config.capitalize = $config.capitalize || 'text-capitalize'
  $config.deleted = $config.deleted || 'text-deleted'
  $config.italic = $config.italic || 'text-italic'
  $config.lowercase = $config.lowercase || 'text-lowercase'
  $config.normal = $config.normal || 'text-normal'
  $config.placeholder = $config.placeholder || false
  $config.underlined = $config.underlined || 'text-underlined'
  $config.uppercase = $config.uppercase || 'text-uppercase'
  if $config.placeholder is false
    .{$config.bold}
      if current-media() is ''
        @extend $font-700
      else
        font-weight: 700
    .{$config.capitalize}
      text-transform: capitalize
    .{$config.deleted}
      text-decoration: line-through
    .{$config.italic}
      font-style: italic
    .{$config.lowercase}
      text-transform: lowercase
    .{$config.normal}
      if current-media() is ''
        @extend $font-400
      else
        font-weight: 400
    .{$config.uppercase}
      text-transform: uppercase
    .{$config.underlined}
      text-decoration: underline
  else
    ${$config.bold}
      if current-media() is ''
        @extend $font-700
      else
        font-weight: 700
    ${$config.capitalize}
      text-transform: capitalize
    ${$config.deleted}
      text-decoration: line-through
    ${$config.italic}
      font-style: italic
    ${$config.lowercase}
      text-transform: lowercase
    ${$config.normal}
      if current-media() is ''
        @extend $font-400
      else
        font-weight: 400
    ${$config.uppercase}
      text-transform: uppercase
    ${$config.underlined}
      text-decoration: underline


// using default ride-typography mixins
ride-typography($font-size = 1em, $line-height = 1.5, $margin = 0, $placeholder = false)
  $headings = (2 1.8 1.6 1.4 1.2 1)
  if not $placeholder
    ride-align()
    code
      ride-code()
    ride-headings($font-size, $line-height, $margin, $config: {
      headings: $headings
    })
    ride-headings($font-size, $line-height, $margin, $config: {
      headings: $headings
      oocss: true  
    })
    ride-highlight()
    hr
      ride-hr($font-size)
    p
      ride-paragraph($font-size, $line-height, $margin)
    small
      ride-small()
    ride-text-style()
  else
    ride-align(true)
    $code
      ride-code()
    ride-headings($font-size, $line-height, $margin, $config: {
      headings: $headings,
      placeholder: true
    })
    $highlight
      ride-highlight()
    $hr
      ride-hr($font-size)
    $p
      ride-paragraph($font-size, $line-height, $margin)
    $small
      ride-small()
    ride-text-style(true)