// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

theme-ride-neutral($font-size = 15px, $line-height = 21.5px, $margin = 21.5px, $placeholder = false)
  $grid-columns = 16
  $grid-gutter = 0
  $grid-padding = $font-size $line-height

  --theme-ride-neutral-grid($placeholder)
    ride-grid: $grid-columns, $grid-gutter, $grid-padding, {
      oocss: true, 
      placeholder: $placeholder
    }
  &
    reset-type: 'normalize all'
    +ride-body()
      font-size: $font-size
      line-height: $line-height
    ride-typography: $font-size, $line-height, $margin, (3 2.2 1.8 1.3 1.1 1) if not $placeholder
    --theme-ride-neutral-grid: false if not $placeholder
  if $placeholder
    $theme
      ride-typography: $font-size, $line-height, $margin, (3 2.2 1.8 1.3 1.1 1), $placeholder if $placeholder
      --theme-ride-neutral-grid: true if $placeholder
      $page-articles
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        $article
          padding: $grid-padding
          $title
            margin-bottom: ($line-height * 2)
      $nav-bar
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        $item
          box-sizing: border-box
          padding: $grid-padding
  else
    &
      ride-typography: $font-size, $line-height, $margin, (3 2.2 1.8 1.3 1.1 1)
      --theme-ride-neutral-grid: false
      .nav-bar
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        .item
          box-sizing: border-box
          padding: $grid-padding
      .page-articles
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        article
          padding: $grid-padding
          .title
            margin-bottom: ($line-height * 2)
        .articles
          @extend .page-articles article
      .site-footer
        @extend .nav-bar
      .site-nav
        @extend .nav-bar