// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

theme-ride-neutral($font-size = 15px, $line-height = 21.5px, $margin = 3px, $placeholder = false)
  $grid-columns = 16
  $grid-gutter = 0
  $grid-padding = $font-size $line-height

  --theme-ride-neutral-grid($placeholder)
    ride-grid: $grid-columns, $grid-gutter, $grid-padding, {
      oocss: true, 
      placeholder: $placeholder
    }
  &
    reset-type: 'normalize'
    +ride-body()
      font-size: $font-size
      line-height: $line-height
    ride-typography: $font-size, $line-height, $margin, (3 2.2 1.8 1.3 1.1 1) if not $placeholder
    --theme-ride-neutral-grid: false if not $placeholder
  $theme
    ride-typography: $font-size, $line-height, $margin, (3 2.2 1.8 1.3 1.1 1), $placeholder if $placeholder
    --theme-ride-neutral-grid: true if $placeholder
    if $placeholder
      $nav-bar
      $site-nav
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        $item
          box-sizing: border-box
          padding: $grid-padding
    else
      .nav-bar
      .site-nav
        ride-flex-grid: $grid-columns, $grid-gutter, $grid-padding
        .item
          box-sizing: border-box
          padding: $grid-padding