@require 'ride-css/mixins/traditional-grid-system'

.test-col-no-margin
  col: 1, 1, 0

.test-col-perc-margin
  col: 1, 1, 1%

.test-col-calc-margin
  col: 1, 1, 1em

.test-col-calc-margin-2
  col: 2, 1, 1em
