.flex-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-col-1 {
  flex-basis: 25%;
}
.flex-col-2 {
  flex-basis: 50%;
}
.flex-col-3 {
  flex-basis: 75%;
}
.flex-col-4 {
  flex-basis: 100%;
}
