// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

@require 'ride-css/flex/col'

.col
  flex-col: 1, 1

.col-cache
  flex-col: 1, 1

.col-uncached
  flex-col: 1, 1, 1em

@media (min-width: 768px)
  .col
    flex-col: 1, 1

  .col-cache
    flex-col: 1, 1

  .col-uncached
    flex-col: 2, 1, 1em
