// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

@require 'ride-css/flex/col-move'

.push
  flex-push: 1

.push--cached
  flex-push: 1

.pull
  flex-pull: 4

@media (min-width: 768px)
  .push--md
    flex-push: 1

  .pull--md
    flex-pull: 4
