mixin css(link)
  link(rel="stylesheet", href!=link)
mixin js(src, async)
  script(src!=src, async!=async)
mixin meta(name, content)
  meta(name!=name, content!=content)
block vars
doctype
html
  head 
    title #{pageTitle || 'Ride-css - a stylus mixins library'}
    meta(charset="utf-8") 
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1") 
    +css('style.css')
    block head 
  body 
    block body