// from https://github.com/mrmrs/colors
// these colors will not replace the default stylus colors
$aqua = aqua = #7FDBFF
$black = black = #111111
$blue = blue = #0074D9
$fuchsia = fuchsia = #F012BE
$gray = gray = #aaaaaa
$green = green = #2ECC40
$lime = lime = #01FF70
$maroon = maroon = #85144B
$navy = navy = #001F3F
$olive = olive = #3D9970
$orange = orange = #FF851B
$purple = purple = #B10DC9
$red = red = #FF4136
$silver = silver = #dddddd
$teal = teal = #39CCCC
$white = white = #ffffff
$yellow = yellow = #FFDC00

// color shades and tints
// aqua shades and tints
$aqua-100 = tint($aqua, 21%)
$aqua-200 = tint($aqua, 13%)
$aqua-300 = tint($aqua, 8%)
$aqua-400 = tint($aqua, 5%)
$aqua-500 = $aqua
$aqua-600 = shade($aqua, 5%)
$aqua-700 = shade($aqua, 8%)
$aqua-800 = shade($aqua, 13%)
$aqua-900 = shade($aqua, 21%)

// black shades and tints
$black-100 = tint($black, 21%)
$black-200 = tint($black, 13%)
$black-300 = tint($black, 8%)
$black-400 = tint($black, 5%)
$black-500 = $black
$black-600 = shade($black, 5%)
$black-700 = shade($black, 8%)
$black-800 = shade($black, 13%)
$black-900 = shade($black, 21%)

// blue shades and tints
$blue-100 = tint($blue, 21%)
$blue-200 = tint($blue, 13%)
$blue-300 = tint($blue, 8%)
$blue-400 = tint($blue, 5%)
$blue-500 = $blue
$blue-600 = shade($blue, 5%)
$blue-700 = shade($blue, 8%)
$blue-800 = shade($blue, 13%)
$blue-900 = shade($blue, 21%)

// fuchsia shades and tints
$fuchsia-100 = tint($fuchsia, 21%)
$fuchsia-200 = tint($fuchsia, 13%)
$fuchsia-300 = tint($fuchsia, 8%)
$fuchsia-400 = tint($fuchsia, 5%)
$fuchsia-500 = $fuchsia
$fuchsia-600 = shade($fuchsia, 5%)
$fuchsia-700 = shade($fuchsia, 8%)
$fuchsia-800 = shade($fuchsia, 13%)
$fuchsia-900 = shade($fuchsia, 21%)

// gray shades and tints
$gray-100 = tint($gray, 21%)
$gray-200 = tint($gray, 13%)
$gray-300 = tint($gray, 8%)
$gray-400 = tint($gray, 5%)
$gray-500 = $gray
$gray-600 = shade($gray, 5%)
$gray-700 = shade($gray, 8%)
$gray-800 = shade($gray, 13%)
$gray-900 = shade($gray, 21%)

// green shades and tints
$green-100 = tint($green, 21%)
$green-200 = tint($green, 13%)
$green-300 = tint($green, 8%)
$green-400 = tint($green, 5%)
$green-500 = $green
$green-600 = shade($green, 5%)
$green-700 = shade($green, 8%)
$green-800 = shade($green, 13%)
$green-900 = shade($green, 21%)

// lime shades and tints
$lime-100 = tint($lime, 21%)
$lime-200 = tint($lime, 13%)
$lime-300 = tint($lime, 8%)
$lime-400 = tint($lime, 5%)
$lime-500 = $lime
$lime-600 = shade($lime, 5%)
$lime-700 = shade($lime, 8%)
$lime-800 = shade($lime, 13%)
$lime-900 = shade($lime, 21%)

// maroon shades and tints
$maroon-100 = tint($maroon, 21%)
$maroon-200 = tint($maroon, 13%)
$maroon-300 = tint($maroon, 8%)
$maroon-400 = tint($maroon, 5%)
$maroon-500 = $maroon
$maroon-600 = shade($maroon, 5%)
$maroon-700 = shade($maroon, 8%)
$maroon-800 = shade($maroon, 13%)
$maroon-900 = shade($maroon, 21%)

// navy shades and tints
$navy-100 = tint($navy, 21%)
$navy-200 = tint($navy, 13%)
$navy-300 = tint($navy, 8%)
$navy-400 = tint($navy, 5%)
$navy-500 = $navy
$navy-600 = shade($navy, 5%)
$navy-700 = shade($navy, 8%)
$navy-800 = shade($navy, 13%)
$navy-900 = shade($navy, 21%)

// olive shades and tints
$olive-100 = tint($olive, 21%)
$olive-200 = tint($olive, 13%)
$olive-300 = tint($olive, 8%)
$olive-400 = tint($olive, 5%)
$olive-500 = $olive
$olive-600 = shade($olive, 5%)
$olive-700 = shade($olive, 8%)
$olive-800 = shade($olive, 13%)
$olive-900 = shade($olive, 21%)

// orange shades and tints
$orange-100 = tint($orange, 21%)
$orange-200 = tint($orange, 13%)
$orange-300 = tint($orange, 8%)
$orange-400 = tint($orange, 5%)
$orange-500 = $orange
$orange-600 = shade($orange, 5%)
$orange-700 = shade($orange, 8%)
$orange-800 = shade($orange, 13%)
$orange-900 = shade($orange, 21%)

// purple shades and tints
$purple-100 = tint($purple, 21%)
$purple-200 = tint($purple, 13%)
$purple-300 = tint($purple, 8%)
$purple-400 = tint($purple, 5%)
$purple-500 = $purple
$purple-600 = shade($purple, 5%)
$purple-700 = shade($purple, 8%)
$purple-800 = shade($purple, 13%)
$purple-900 = shade($purple, 21%)

// red shades and tints
$red-100 = tint($red, 21%)
$red-200 = tint($red, 13%)
$red-300 = tint($red, 8%)
$red-400 = tint($red, 5%)
$red-500 = $red
$red-600 = shade($red, 5%)
$red-700 = shade($red, 8%)
$red-800 = shade($red, 13%)
$red-900 = shade($red, 21%)

// silver shades and tints
$silver-100 = tint($silver, 21%)
$silver-200 = tint($silver, 13%)
$silver-300 = tint($silver, 8%)
$silver-400 = tint($silver, 5%)
$silver-500 = $silver
$silver-600 = shade($silver, 5%)
$silver-700 = shade($silver, 8%)
$silver-800 = shade($silver, 13%)
$silver-900 = shade($silver, 21%)

// teal shades and tints
$teal-100 = tint($teal, 21%)
$teal-200 = tint($teal, 13%)
$teal-300 = tint($teal, 8%)
$teal-400 = tint($teal, 5%)
$teal-500 = $teal
$teal-600 = shade($teal, 5%)
$teal-700 = shade($teal, 8%)
$teal-800 = shade($teal, 13%)
$teal-900 = shade($teal, 21%)

// yellow shades and tints
$yellow-100 = tint($yellow, 21%)
$yellow-200 = tint($yellow, 13%)
$yellow-300 = tint($yellow, 8%)
$yellow-400 = tint($yellow, 5%)
$yellow-500 = $yellow
$yellow-600 = shade($yellow, 5%)
$yellow-700 = shade($yellow, 8%)
$yellow-800 = shade($yellow, 13%)
$yellow-900 = shade($yellow, 21%)
