// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// shorthand for caching a colorscheme
// @params [rgba] $background-color is the background-color
// @params [rgba] $color is the color
color-scheme-c($background-color, $color)
  +cache('ride-color-scheme'+ $background-color +''+ $color)
    color-scheme($background-color, $color)
