// Ride css. Released under MIT licence.
// https://github.com/OctoD/ride-css/
// // returns all h1-h6 html selectors
headings()
  h1
  h2
  h3
  h4
  h5
  h6
    {block}

// returns all h1-h6 html selectors
// it will properly calculate line-height and font size 
ride-headings(fontMultiplier = 2, line-height = 1.5, multiplier = 0.2)
  for heading in 1 2 3 4 5 6
    h{heading}
      if heading > 1
        if heading > 2
          multiplier = multiplier * heading
        fontMultiplier = fontMultiplier - multiplier
      font-size unit(fontMultiplier, 'em')
      line-height get-lineheight(fontMultiplier, line-height)
  +headings()
    margin 0
    {block}

// returns a properly calculated "p" selector 
ride-paragraph(font-size = 1em, line-height = 1.5, margin = .5em 0)
  p
    font-size font-size
    line-height line-height
    margin unit(line-height - font-size, 'em') 0

// using default ride-typography mixins
ride-typography()
  ride-headings()
  ride-paragraph()
