// copyright 2015 - this year @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

flex-col($grid-cols = 12, $col-size = 12, $margin = 0, $padding = 0)
  $$current-media = ''

  if current-media()
    $$current-media = current-media()

  $calc = (100% / $grid-cols) * $col-size

  $margin = $margin unless @margin
  $padding = $padding unless @padding

  ensure-strict($margin, 'unit')
  ensure-strict($padding, 'unit')

  +cache('ride-flex-col'+ $$current-media +''+ $calc +''+ $margin +''+ $padding)
    flex-basis: $calc
    margin: $margin if $margin not 0
    padding: $padding if $padding not 0
