.lead,
.the-end {
  text-align: center;
}
.primary-nav {
  text-align: right;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
.lead {
  display: block;
}
*,
*:after,
*:before,
button,
input,
select,
textarea {
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.lead h2 {
  font-weight: 300;
}
a,
.lead h1 {
  font-weight: 400;
}
b,
strong,
.lead h1 small {
  font-weight: 700;
}
audio,
canvas,
video,
.logo,
.primary-nav a,
.the-end a {
  display: inline-block;
}
audio:not([controls]),
[hidden],
template {
  display: none;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
body,
button,
input,
select,
textarea,
p {
  margin: 0;
}
input[type="checkbox"],
input[type="radio"],
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
}
a {
  text-decoration: none;
}
body > header,
.the-end {
  background-color: #e56542;
  color: #fff;
  background-color: #ddd;
  color: #898989;
}
.lead,
.stuff {
  background-color: #e4e4e4;
  color: #969696;
}
.code {
  background-color: #f1f1f1;
}
audio:not([controls]) {
  height: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background-color: #ff4136;
  color: #111;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #ddd;
  margin: 0 2px;
  padding: 0.25em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.reasons article,
.stuff article {
  float: left;
  padding: 1rem;
}
.code,
.reasons article,
.stuff article {
  margin: 1.44rem 0;
}
.code,
.reasons article,
.stuff article {
  width: 100%;
}
.logo {
  margin-left: 8.333333333333334%;
}
.primary-nav {
  margin-right: 8.333333333333334%;
}
body > header:after,
.reasons:after,
.setup:after,
.stuff .stuff-wrapper:after,
body > header:before,
.reasons:before,
.setup:before,
.stuff .stuff-wrapper:before {
  clear: both;
  content: '';
  display: table;
}
@media (min-width: 768px) {
  .reasons,
  .setup,
  .stuff .stuff-wrapper {
    text-align: center;
  }
  .reasons article,
  .stuff article {
    margin: 1.44rem 0;
  }
  .reasons article {
    width: 33.333333333333336%;
  }
  .stuff article {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .stuff article {
    margin: 1.44rem 0;
  }
  .stuff article {
    width: 25%;
  }
}
@media (min-width: 1450px) {
  .logo,
  .reasons,
  .setup,
  .stuff .stuff-wrapper {
    margin-left: 25%;
  }
  .primary-nav,
  .reasons,
  .setup,
  .stuff .stuff-wrapper {
    margin-right: 25%;
  }
}
body {
  color: #898989;
  font: normal 18px/1.5 'Lato', sans-serif;
}
body > header {
  border-bottom: 1px solid #aeaeae;
}
a {
  color: #898989;
}
a:hover {
  color: #6c6c6c;
}
a:active {
  color: #5d5d5d;
}
a:visited {
  color: #404040;
}
h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
}
h2 {
  font-size: 1.8rem;
  line-height: 1.1;
  margin: 0 0 0.22rem;
}
h3 {
  font-size: 1.7rem;
  line-height: 1.1;
  margin: 0 0 0.33rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0 0 0.44rem;
}
h5 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 0 0 0.55rem;
}
h6 {
  font-size: 1.4rem;
  line-height: 1.1;
  margin: 0 0 0.66rem;
}
img {
  max-width: 100%;
}
p {
  font-size: 1rem;
  line-height: 1.44;
  margin: 0 0 0.72rem;
}
main {
  margin-left: auto;
  margin-right: auto;
}
.logo,
.primary-nav {
  padding-bottom: 0.72rem;
  padding-top: 0.72rem;
}
.code {
  border-left: 0.2rem solid #aeaeae;
  font-size: 0.8rem;
  padding-bottom: 0.72rem;
  padding-top: 0.72rem;
}
.lead {
  padding-bottom: 8.64rem;
  padding-top: 8.64rem;
}
.lead h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
}
.primary-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.primary-nav a,
.the-end a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.reasons,
.setup,
.stuff .stuff-wrapper {
  margin-top: 5.76rem;
}
.setup {
  border-bottom: 1px dashed #aeaeae;
  border-top: 1px dashed #aeaeae;
  padding-top: 1.44rem;
}
.setup article {
  margin-top: 1.44rem;
}
.setup h4 {
  color: #aeaeae;
}
.the-end {
  padding-bottom: 2.88rem;
  padding-top: 2.88rem;
}
