@import 'ride-css/placeholders'
@import 'ride-css/form/*'

+form-elements()
  box-sizing: border-box
  padding: 1em

+form-disabled()
  color: #f00

+form-read-only()
  color: #444

+form-in-range()
  color: #0f0

+form-invalid()
  color: #f00

+form-optional()
  color: #00f

+form-out-of-range()
  color: #ff0

+form-required()
  font-size: 2em

+form-valid()
  color: #0ff

input,
textarea
  +placeholder()
    color: #ddd

ride-form-elements(1px solid #eee, 1em)
