// copyright 2015 @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

@import '../../lib/ride-css/mixins/buttons'
@import '../../lib/ride-css/mixins/css3'
@import '../../lib/ride-css/placeholders'

$btn
  button()
  
.btn
  button()
  
.btn-large
  button: large

.btn-ext
  @extend $btn
  
@media (min-width 400px)
  .btn-400
    button()
    font-size: .8em