input,
select,
textarea {
  box-sizing: border-box;
  padding: 1em;
}
input[disabled],
select[disabled],
textarea[disabled] {
  color: #f00;
}
input[readonly],
select[readonly],
textarea[readonly] {
  color: #444;
}
input[type="number"]:in-range {
  color: #0f0;
}
input:invalid,
select:invalid,
textarea:invalid {
  color: #f00;
}
input:optional,
select:optional,
textarea:optional {
  color: #00f;
}
input[type="number"]:out-of-range {
  color: #ff0;
}
input:required,
select:required,
textarea:required {
  font-size: 2em;
}
input:valid,
select:valid,
textarea:valid {
  color: #0ff;
}
input::-webkit-placeholder,
textarea::-webkit-placeholder {
  color: #ddd;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ddd;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd;
}
input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #ddd;
}
input,
select,
textarea {
  border: 1px solid #eee;
  padding: 1em;
  width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
select {
  padding: 0.85em;
}
