use('ride-css/js/functions.js')

.has-char
  bool: has-char('a foo bar baz', 'f')

.parse-float
  line-height: parse-float(12.22px / 10)

.parse-int
  line-height: parse-int(12px / 12)

.replace-all
  string: replace-all('a foo bar baz', 'a', '1')