// copyright 2015 @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

@require '../../lib/ride-css/mixins/type-checking'

.is-ch
  result: is-ch(4ch)

.is-deg
  result: is-degrees(4deg)
  result: isDegrees(4deg)
  result: is-deg(4deg)
  result: are-degrees(4deg)
  result: areDegrees(4deg)
  result: are-deg(4deg)

.is-em
  result: is-em(4em)

.is-ex
  result: is-ex(4ex)

.is-milliseconds
  result: is-milliseconds(4ms)
  result: isMilliseconds(4ms)
  result: is-ms(4ms)
  result: are-milliseconds(4ms)
  result: areMilliseconds(4ms)
  result: are-ms(4ms)

.is-percentage
  result: is-percentage(10%)
  result: isPercentage(10%)
  result: is-perc(10%)

.is-pixel
  result: is-pixel(10px)
  result: isPixel(10px)
  result: is-px(10px)

.is-point
  result: is-point(10pt)
  result: isPoint(10pt)
  result: is-pt(10pt)

.is-rem
  result: is-rem(4rem)

.is-seconds
  result: is-seconds(4s)
  result: isSeconds(4s)
  result: is-s(4s)
  result: are-seconds(4s)
  result: areSeconds(4s)
  result: are-s(4s)

.is-vmax
  result: is-vmax(4vmax)

.is-vmin
  result: is-vmin(4vmin)

.is-vh
  result: is-vh(4vh)

.is-vw
  result: is-vw(4vw)

.is-boolean
  result: is-boolean(true)
  result: is-bool(false)

.is-ident
  result: is-ident($ident-name-is-ident)

.is-number
  result: is-number(123)

.is-string
  result: is-string('hello world!')
