.is-ch {
  result: true;
}
.is-deg {
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
}
.is-em {
  result: true;
}
.is-ex {
  result: true;
}
.is-milliseconds {
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
}
.is-percentage {
  result: true;
  result: true;
  result: true;
}
.is-pixel {
  result: true;
  result: true;
  result: true;
}
.is-point {
  result: true;
  result: true;
  result: true;
}
.is-rem {
  result: true;
}
.is-seconds {
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
  result: true;
}
.is-vmax {
  result: true;
}
.is-vmin {
  result: true;
}
.is-vh {
  result: true;
}
.is-vw {
  result: true;
}
.is-boolean {
  result: true;
  result: true;
}
.is-ident {
  result: true;
}
.is-number {
  result: true;
}
.is-string {
  result: true;
}
