// copyright 2015 @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// shorthand for defining a colorscheme
// @params [rgba] $background-color is the background-color
// @params [rgba] $color is the color
color-scheme($background-color = transparent, $color = inherit)
  background-color: $background-color if type-of($background-color) is 'rgba'
  color: $color if type-of($color) is 'rgba'