// copyright 2016 @ Paolo Roth <iamoctod@gmail.com>
// MIT licenced

// sets inline properties faster
// @return [css]
set-properties()
  for $property, $index in arguments
    {$property}: arguments[$index + 1] if type-of($property) is 'ident' and type-of(arguments[$index + 1]) is 'unit'

// set absolute positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
absolute()
  position: absolute
  set-properties(arguments)
  
// set fixed positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
fixed()
  position: fixed
  set-properties(arguments)
  
// set relative positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
relative()
  position: relative
  set-properties(arguments)
  
// set sticky positioning faster
// @arguments [css position indicators] a sets of positioning indicators
// @return [css]
sticky()
  position: sticky
  set-properties(arguments)
  
// sets automatically a centered block
// @return [css]
center-block()
  @extend $block
  +cache('center-block'+ current-media())
    margin-horizontal: auto

// yelds an horizontal margin (right, left)
// @param [Unit] $right this is the right (or right and left if $left is omitted) margin
// @param [Unit] $left this is the left margin
// @return [css]
margin-horizontal($right, $left = false)
  if $left
    margin-left: $left
    margin-right: $right
  if !$left
    margin-left: $right
    margin-right: @margin-left 

// yelds a vertical margin (top, bottom)
// @param [Unit] $top this is the top (or top and left if $bottom is omitted) margin
// @param [Unit] $bottom this is the bottom margin
// @return [css]
margin-vertical($top, $bottom = false)
  if $bottom
    margin-bottom: $bottom
    margin-top: $top
  if !$bottom
    margin-bottom: $top
    margin-top: @margin-bottom 
    
// yelds an horizontal padding (right, left)
// @param [Unit] $right this is the right (or right and left if $left is omitted) padding
// @param [Unit] $left this is the left padding
// @return [css]
padding-horizontal($right, $left = false)
  if $left
    padding-left: $left
    padding-right: $right
  if !$left
    padding-left: $right
    padding-right: @padding-left 

// yelds a vertical padding (top, bottom)
// @param [Unit] $top this is the top (or top and left if $bottom is omitted) padding
// @param [Unit] $bottom this is the bottom padding
// @return [css]
padding-vertical($top, $bottom = false)
  if $bottom
    padding-bottom: $bottom
    padding-top: $top
  if !$bottom
    padding-bottom: $top
    padding-top: @padding-bottom 
    
// sets a centered wrapper
// @param [unit] $max-width is the wrapper max-width
// @return [css]
wrapper($max-width = 100%)
  center-block()
  max-width: $max-width if type-of($max-width) is 'unit'