@import 'ride-css'

// basic test
scaffolding-typography(10px, 1.5)

// placeholders test
scaffolding-typography(10px, 1.5, true)

.h1
  @extend $h1
.p
  @extend $p

// suffixed placeholders test
scaffolding-typography(10px, 1.5, 'suffixed')

.h1-suffixed
  @extend $h1-suffixed
.p-suffixed
  @extend $p-suffixed

// media query 1 suffixed placeholders test
@media (min-width: 400px)
  scaffolding-typography(10px, 1.5, 'media-sm')
// media query 2 suffixed placeholders test
@media (min-width: 800px)
  scaffolding-typography(10px, 1.5, 'media-md')

// extending first mediaquery placeholders
.h1-media-sm
  @extend $h1-media-sm
.p-media-sm
  @extend $p-media-sm

// extending second mediaquery placeholders
.h1-media-md
  @extend $h1-media-md
.p-media-md
  @extend $p-media-md
