@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    padding: 1em;
  }
  .col-sm-1 {
    margin: 0;
  }
  .col-sm-1 {
    width: 10%;
  }
}
@media (min-width: 1280px) {
  .col-md-1 {
    float: left;
    padding: 1em;
  }
  .col-md-1 {
    margin: 0;
  }
  .col-md-1 {
    width: 10%;
  }
}