// colors
// left border color for blockquotes
$color-blockquote = black
// default links color
$color-links = black

// grid system
$grid-gutter = 0
$grid-padding = $font-size

// page elements.
// we have to set border radius with the \/ because it must not be divided :)
$image-border-radius = 3px\/8px

// typography
// basic font size for body and paragraphs. Headings will be calculated automatically
$font-size = 15px
// basic font size for body and paragraphs. Headings will be calculated automatically
$line-height = 22px
// vertical margin applied to paragraphs and headings
$margin = 0 0 $line-height