// Ride css. Released under MIT licence.
// https://github.com/ride-css/ride-css/

css-normalize()
  // original css normalize by Nicolas Gallagher and Jonathan Neal 
  article
    @extend $block
  aside
    @extend $block
  details
    @extend $block
  figcaption
    @extend $block
  figure
    @extend $block
  footer
    @extend $block
  header
    @extend $block
  hgroup
    @extend $block
  main
    @extend $block
  nav
    @extend $block
  section
    @extend $block
  summary
    @extend $block
  audio
    @extend $inline-block
  canvas
    @extend $inline-block
  video
    @extend $inline-block
  audio:not([controls])
    @extend $none
    height: 0
  [hidden]
    @extend $none
  template
    @extend $none
  html
    font-family: sans-serif
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
  body
    @extend $no-margin
  a
    background-color: transparent
  a:focus
    @extend $no-outline
  a:active
    @extend $no-outline
  a:hover
    @extend $no-outline
  abbr[title]
    border-bottom: 1px dotted
  b
    @extend $font-700
  strong
    @extend $font-700
  dfn
    font-style: italic
  hr
    box-sizing: content-box
    height: 0
  mark
    background-color: red
    color: black
  code
    @extend $code-font
  kbd
    @extend $code-font
  pre
    @extend $code-font
  samp
    @extend $code-font
  pre
    white-space: pre-wrap
  q
    quotes: "\201C" "\201D" "\2018" "\2019"
  $sub-sup
    font-size: 75%
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    @extend $sub-sup
    top: -0.5em
  sub
    @extend $sub-sup
    bottom: -0.25em
  img
    border: 0
  svg:not(:root)
    overflow: hidden
  figure
    margin: 0
  fieldset
    border: 1px solid silver
    margin: 0 2px
    padding: 0.35em 0.625em 0.75em
  legend
    border: 0
    padding: 0
  button
  input
  select
  textarea
    @extend $border-box
    @extend $no-margin
    font-family: inherit
    font-size: 100%
  button
  input
    line-height: normal
  button
  select
    text-transform: none
  button
  html input[type="button"]
  input[type="reset"]
  input[type="submit"]
    // -webkit-appearance: button
    cursor: pointer
  button[disabled]
  html input[disabled]
    cursor: default
  input[type="checkbox"]
  input[type="radio"]
    @extend $no-padding
  input[type="search"]
    -webkit-appearance: textfield
    box-sizing: content-box
  input[type="search"]::-webkit-search-cancel-button
  input[type="search"]::-webkit-search-decoration
    -webkit-appearance: none
  button::-moz-focus-inner
  input::-moz-focus-inner
    @extend $no-padding
    border: 0
  textarea
    overflow: auto
    vertical-align: top
  table
    border-collapse: collapse
    border-spacing: 0
  p
    @extend $no-margin
