// Ride css. Released under MIT licence.
// https://github.com/OctoD/ride-css/
// column mixin
// doesn't accept a code block
ride-column(width, gutter = 0, columnCount = 1, currentColumn = 1, gutterType = 'margin', returnsWidth = true, important = false)
  columnUnit = unit(width)

  // smallest column width
  column = (width / columnCount) * currentColumn

  if !gutter[1]
    column = column - (gutter[0] * 2)
    if gutterType == 'both' || gutterType == 'both false'
      column = column - (gutter[0] * 2)   

  if gutter[1] && !gutter[3]
    column = column - gutter[1] * 2
    if gutterType == 'both' || gutterType == 'both false'
      column = column - gutter[1] * 2

  if gutter[1] && gutter[3]
    column = column - gutter[1] - gutter[3]
    if gutterType == 'both' || gutterType == 'both false'
      column = column - gutter[1] - gutter[3]

  if gutterType && gutterType != 'both' &&  gutterType != 'both false'
    {gutterType} setUnit(gutter, columnUnit)

  if gutterType == 'both'
    margin setUnit(gutter, columnUnit)
    padding setUnit(gutter, columnUnit)

  if returnsWidth
    if important
      width column !important
    unless important
      width column

// floating column mixin
// doesn't accept a code block
ride-float(width, gutter, columnCount = 1, currentColumn = 1, gutterType = 'margin', addFloat = true, floatDirection = 'left')
  columnUnit = unit(width)

  if !gutter[1]
    float = gutter
    if gutterType == 'both'
      float = float + gutter

  if gutter[1] && !gutter[3]
    float = gutter[1]
    if gutterType == 'both'
      float = float + gutter[1]

  if gutter[1] && gutter[3]
    float = gutter[3]
    if gutterType == 'both'
      float = float + gutter[3]

  // smallest column width
  column = (width / columnCount) * currentColumn

  // {gutterType}-{floatDirection} (column + float)
  if gutterType && gutterType != 'both' &&  gutterType != 'both false'
    {gutterType}-{floatDirection} setUnit((column + float), columnUnit)

  if gutterType == 'both'
    margin-{floatDirection} setUnit((column + float), columnUnit)

  if addFloat
    float left  